<div id="author">
    <h4 class="title color-red my-3">It's me, hi...</h4>

    <p>Olá! Meu nome é Raul e sou um grande fã da talentosa Taylor Swift. Criei este site, <b>Taylor's Songbook</b>, como uma forma de compartilhar minha paixão pela música dela com outros fãs e entusiastas. Aqui você encontrará cifras, tutoriais e muitas informações sobre as incríveis músicas da Taylor. Este projeto é uma maneira de expressar minha admiração e contribuir para a comunidade de fãs.</p>

    <p>Sinta-se à vontade para explorar o site e aproveitar todo o conteúdo disponível. Se você tiver alguma sugestão, pedido ou simplesmente quiser compartilhar sua experiência, ficarei feliz em receber seu feedback. Você também pode me encontrar nas redes sociais, onde compartilho mais conteúdo relacionado à Taylor Swift e mergulho no mundo da música.</p>

    <p>Acompanhe-me nas redes sociais para ficar atualizado com as últimas novidades e interagir com outros fãs. Você pode me encontrar no 
        <i class="fa-brands fa-whatsapp"></i> <a href="https://chat.whatsapp.com/BS4Vx1FpM0TFf95iPfGylP" class="whatsapp" target="_blank">WhatsApp</a>, 
        <i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/raulmoraes__/" class="instagram" target="_blank">Instagram</a> and 
        <i class="fa-brands fa-github"></i> <a href="https://github.com/rauldosS" class="github" target="_blank">GitHub</a>.
    </p>

    <p>Espero que você aproveite sua visita ao <b>Taylor's Songbook</b> e encontre tudo o que procura sobre Taylor Swift. Este projeto é feito com amor e dedicação de um fã para outro. Obrigado por fazer parte dessa comunidade e por apoiar meu trabalho!</p>

    <p>Bem-vindo(a) e divirta-se explorando o mundo musical da Taylor Swift!</p>

    <h4 class="title color-red my-3">O que está por vir!</h4>

    <p>Em breve, estaremos lançando novas funcionalidades emocionantes para tornar sua experiência no nosso site ainda melhor! Além disso, estaremos expandindo nosso catálogo de cifras e incluindo músicas de outros álbuns da Taylor Swift.</p>

    <div class="list-group">
        <a class="list-group-item list-group-item-action">⭐ Atualizações regulares do catálogo de cifras com músicas de outros álbuns.</a>
        <a class="list-group-item list-group-item-action">🎤 Letras de músicas completas para todos os álbuns da Taylor Swift.</a>
        <a class="list-group-item list-group-item-action">🔎 Recurso de pesquisa de cifras e álbuns.</a>
        <a class="list-group-item list-group-item-action">👀 Últimas cifras visualizadas.</a>
        <a class="list-group-item list-group-item-action">🖨 Impressão de cifra.</a>
        <a class="list-group-item list-group-item-action">🎸 Versões acústicas e covers de músicas populares da Taylor Swift.</a>
        <a class="list-group-item list-group-item-action">🎼 Alteração da tonalidade da música.</a>
        <a class="list-group-item list-group-item-action">⚙ Sessão de configurações básicas da cifra.</a>
        <a class="list-group-item list-group-item-action">💿 Playlists personalizadas com seleções temáticas de músicas da Taylor Swift.</a>
        <a class="list-group-item list-group-item-action">🔠 Traduções das músicas em diferentes idiomas para atingir um público mais amplo.</a>
        <a class="list-group-item list-group-item-action">💁🏼‍♀️ Parcerias e colaborações com outros músicos, influenciadores ou até mesmo com a própria Taylor Swift para criar conteúdo exclusivo e promover ainda mais o site.</a>
    </div>
</div>
