<h1 class="font-taylor-swift-base text-center mt-4 title-home my-5">Ajuda</h1>

<div class="">
    <h6  class="font-taylor-swift-base fs-5 color-midnights fw-bold caption-home"><i class="fa-solid fa-pencil me-2"></i> Barra de Customização de Cifras</h6>

    <img src="assets/images/help/customization-bar.png" class="img-thumbnail mx-auto d-block mb-3" alt="...">

    <p>
        A <strong class="color-midnights">Barra de Customização</strong> é uma seção na parte inferior da página da cifra que oferece diversas opções para personalizar a experiência do usuário. 
        Ela permite ajustar o tamanho da fonte, exibir acordes e acessar outras funcionalidades para tornar a visualização da cifra mais 
        adequada às preferências de cada usuário.
    </p>

    <div class="accordion" id="accordionCustomizationBar">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBFont">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBFont" aria-expanded="false" aria-controls="collapseCBFont">
                    <i class="fa-solid fa-font me-2"></i> Alterar tamanho da fonte
                </button>
            </h2>
            <div id="collapseCBFont" class="accordion-collapse collapse" aria-labelledby="headingCBFont" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    <!-- <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBChords">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBChords" aria-expanded="false" aria-controls="collapseCBChords">
                    <i class="fa-solid fa-guitar me-2"></i> Exibir acordes
                </button>
            </h2>
            <div id="collapseCBChords" class="accordion-collapse collapse" aria-labelledby="headingCBChords" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    <!-- <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                </div>
            </div>
        </div>

        <!-- Exibir acordes -->
        <!-- Tela cheia -->
        <!-- Progressões -->
        <!-- Mini-player -->
        <!-- Compartilhar cifra -->
        <!-- Desafixar -->
    </div>
</div>