<h1 class="font-taylor-swift-base text-center mt-4 title-home my-5">Ajuda</h1>

<div class="">
    <h6  class="font-taylor-swift-base fs-5 fw-bold caption-home"> ✏️ Barra de Customização de Cifras</h6>

    <img src="assets/images/help/customization-bar.webp" class="img-thumbnail mx-auto d-block mb-3" alt="...">

    <p>
        A <strong class="color-midnights">Barra de Customização</strong> é uma seção na parte inferior da página da cifra que oferece diversas opções para personalizar a experiência do usuário. 
        Ela permite ajustar o tamanho da fonte, exibir acordes e acessar outras funcionalidades para tornar a visualização da cifra mais 
        adequada às preferências de cada usuário.
    </p>

    <div class="accordion" id="accordionCustomizationBar">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBChords">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBChords" aria-expanded="false" aria-controls="collapseCBChords">
                    🎸 Exibir acordes
                </button>
            </h2>
            <div id="collapseCBChords" class="accordion-collapse collapse" aria-labelledby="headingCBChords" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    O atalho <strong class="color-midnights">ACORDES</strong> permite ver os acordes das músicas de forma rápida e prática. Os acordes irão acompanhar você em toda a cifra.
                    <img src="assets/images/help/chords.webp" class="img-thumbnail mx-auto d-block mt-3" alt="...">
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBColumns">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBColumns" aria-expanded="false" aria-controls="collapseCBColumns">
                    📖 Colunas
                </button>
            </h2>
            <div id="collapseCBColumns" class="accordion-collapse collapse" aria-labelledby="headingCBColumns" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    O atalho <strong class="color-midnights">COLUNAS</strong> é uma funcionalidade que permite aos usuários visualizarem a cifra da música em formato de colunas. 
                    Aproveite uma apresentação mais compacta e organizada da cifra, tornando a experiência de tocar a música ainda mais agradável e intuitiva. O controle da quantidade de colunas está nas suas mãos!
                    <img src="assets/images/help/columns.webp" class="img-thumbnail mx-auto d-block mt-3" alt="...">
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBFullScreen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBFullScreen" aria-expanded="false" aria-controls="collapseCBFullScreen">
                    🍿 Tela cheia
                </button>
            </h2>
            <div id="collapseCBFullScreen" class="accordion-collapse collapse" aria-labelledby="headingCBFullScreen" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    O atalho <strong class="color-midnights"><i class="bi bi-fullscreen"></i> </strong> permite ampliar a visualização da cifra para ocupar toda a tela do dispositivo utilizado, seja computador, 
                    tablet ou smartphone.
                    <img src="assets/images/help/full-screen.webp" class="img-thumbnail mx-auto d-block mt-3" alt="...">
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBFont">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBFont" aria-expanded="false" aria-controls="collapseCBFont">
                    🔠 Alterar tamanho da fonte
                </button>
            </h2>
            <div id="collapseCBFont" class="accordion-collapse collapse" aria-labelledby="headingCBFont" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    O atalho <strong class="color-midnights">FONTE</strong> é uma funcionalidade que permite aos usuários ajustar o tamanho do texto das cifras conforme suas preferências. Podendo aumentar ou diminuir o tamanho da fonte para tornar a visualização 
                    da cifra mais confortável e adequada ao seu gosto pessoal.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBOnlyLyrics">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBOnlyLyrics" aria-expanded="false" aria-controls="collapseCBOnlyLyrics">
                    🎤 Exibir apenas letra
                </button>
            </h2>
            <div id="collapseCBOnlyLyrics" class="accordion-collapse collapse" aria-labelledby="headingCBOnlyLyrics" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    O atalho <strong class="color-midnights">🎤 Apenas letra </strong> oculta os acordes da cifra, mostrando somente as letras da música para facilitar a leitura e o acompanhamento da letra enquanto se toca.
                    <img src="assets/images/help/only-lyrics.webp" class="img-thumbnail mx-auto d-block mt-3" alt="...">
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBUnpin">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBUnpin" aria-expanded="false" aria-controls="collapseCBUnpin">
                    📌 Desafixar barra de customização
                </button>
            </h2>
            <div id="collapseCBUnpin" class="accordion-collapse collapse" aria-labelledby="headingCBUnpin" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    O atalho <strong class="color-midnights">📌 Desafixar </strong> permite que a barra de customização seja destacada e movida para a parte inferior da cifra, tornando a página mais limpa. 
                    Além disso, você pode fixá-la novamente no local original, basta clicar no ícone de fixação. Isso proporciona mais flexibilidade e personalização na visualização das cifras, permitindo que você a ajuste de acordo com suas preferências.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBHideMiniplayer">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBHideMiniplayer" aria-expanded="false" aria-controls="collapseCBHideMiniplayer">
                    <i class="bi bi-youtube color-youtube me-2"></i> Ocultar miniplayer
                </button>
            </h2>
            <div id="collapseCBHideMiniplayer" class="accordion-collapse collapse" aria-labelledby="headingCBHideMiniplayer" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    O atalho <strong class="color-youtube"><i class="bi bi-youtube"></i> Ocultar miniplayer </strong> esconde o player de vídeo reduzido que normalmente aparece no canto inferior direito da tela enquanto você navega no site.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBShare">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBShare" aria-expanded="false" aria-controls="collapseCBShare">
                    🔗 Compartilhar cifra
                </button>
            </h2>
            <div id="collapseCBShare" class="accordion-collapse collapse" aria-labelledby="headingCBShare" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    O atalho <strong class="color-midnights">🔗 Compartilhar cifra </strong> permite que você compartilhe a cifra da música com outras pessoas por meio de links copiado para sua área de transferência em suas redes sociais.
                </div>
            </div>
        </div>
    </div>
</div>
