<style>
    .title-home {
        font-size: 4rem;
    }

    .caption-home {
        font-size: 1.8rem;
    }

    @media(max-width: 768px) {
        .title-home {
            font-size: 3rem;
        }

        .caption-home {
            font-size: 1rem;
        }
    }
</style>

<div class="alert alert-warning d-flex align-items-center mt-4 rounded-pill" role="alert">
    <div id="main-alert" class="text-center w-100 w-bold"></div>
</div>

<h1 class="font-taylor-swift-base text-center mt-4 title-home">Taylor's Songbook</h1>
<h6  class="font-taylor-swift-base text-center caption-home">The Music Industry</h6>

<div id="summary" class="mt-4 text-center">
    <div class="collapse" id="collapseSummary">
    </div>
    <a class="collapsed action" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
</div>

<div class="d-flex justify-content-center align-items-center">
    <a class="btn btn-whatsapp animate__animated animate__bounce animate__delay-3s" href="https://chat.whatsapp.com/BS4Vx1FpM0TFf95iPfGylP" target="_blank">
        <div><i class="fa-brands fa-whatsapp"></i></div>
        <div id="whatsapp"></div>
    </a>
</div>

<div class="line"></div>

<div id="mostAccessed" class="music-list animate__animated animate__fadeInDown animate__delay-1s">
    <h4 class="font-taylor-swift-base"></h4>

    <ol class="list-group"></ol>
</div>

<script>
    const mostAccessedMusics = [
        {
            music: { id: 'fearless', name: 'Fearless' },
            album: { id: 'fearless', name: 'Fearless' },
            blocked: false
        },
        {
            music: { id: '', name: 'Red' },
            album: { id: 'red', name: 'Red' },
            blocked: false
        },
        {
            music: { id: '', name: 'Cardigan' },
            album: { id: 'folklore', name: 'Folklore' },
            blocked: true
        },
        {
            music: { id: '', name: 'Anti-Hero' },
            album: { id: 'midnights', name: 'Midnights' },
            blocked: true
        },
        {
            music: { id: '', name: 'Cruel Summer' },
            album: { id: 'lover', name: 'Lover' },
            blocked: true
        },
        {
            music: { id: '', name: 'Karma' },
            album: { id: 'midnights', name: 'Midnights' },
            blocked: true
        },
        {
            music: { id: 'come-back-be-here', name: 'Come Back... Be Here' },
            album: { id: 'red', name: 'Red' },
            blocked: false
        },
        {
            music: { id: '', name: 'Blank Space' },
            album: { id: '1989', name: '1989' },
            blocked: true
        },
        {
            music: { id: '', name: 'Maroon' },
            album: { id: 'midnights', name: 'Midnights' },
            blocked: true
        },
        {
            music: { id: '', name: 'Enchanted' },
            album: { id: 'speak-now', name: 'Speak Now' },
            blocked: true
        }
    ]
    const mostAccessed = $('#mostAccessed ol')

    mostAccessedMusics.forEach((data, index) => {
        mostAccessed.append(`
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
                music="${ data.music.id }"
                album="${ data.album.id }"
                ${ data.blocked ? 'blocked': '' }
            >
                <div class="p-2 number bd-highlight">${ index + 1 }</div>
                <div class="p-2 bd-highlight">${ data.music.name }</div>
                <div class="ms-auto p-2 bd-highlight">
                    <span class="badge color-${ data.album.id } border-${ data.album.id } rounded-pill">${ data.album.name }</span>
                </div>
            </li>
        `)
    })

    $('#mostAccessed li').not('[blocked]').on('click', function() {
        selectMusic($(this).attr('music'))
    })

    $('#mostAccessed li[blocked]').on('click', function() {
        $(this).toggleClass('animate__animated animate__hinge z-index')
    })
</script>
