<style>
    .title-home {
        font-size: 4rem;
    }

    .caption-home {
        font-size: 1.8rem;
    }

    @media(max-width: 768px) {
        .title-home {
            font-size: 3rem;
        }

        .caption-home {
            font-size: 1rem;
        }
    }
</style>

<div class="alert alert-warning d-flex align-items-center mt-4 rounded-pill" role="alert">
    <div id="main-alert" class="text-center w-100 w-bold"></div>
</div>

<h1 class="font-taylor-swift-base text-center mt-4 title-home">Taylor's Songbook</h1>
<h6  class="font-taylor-swift-base text-center caption-home">The Music Industry</h6>

<div id="summary" class="mt-4 text-center">
    <div class="collapse" id="collapseSummary">
    </div>
    <a class="collapsed action" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
</div>

<div class="d-flex justify-content-center align-items-center">
    <a class="btn btn-whatsapp animate__animated animate__bounce animate__delay-3s" href="https://chat.whatsapp.com/BS4Vx1FpM0TFf95iPfGylP" target="_blank">
        <div><i class="fa-brands fa-whatsapp"></i></div>
        <div id="whatsapp"></div>
    </a>
</div>

<div class="line"></div>

<div id="mostAccessed" class="music-list animate__animated animate__fadeInDown animate__delay-1s">
    <h4 class="font-taylor-swift-base"></h4>

    <ol class="list-group"></ol>
</div>

<div class="line"></div>

<div id="influencers" class="music-list animate__animated animate__fadeInDown animate__delay-1s">

    <div class="container marketing">
        <h4 id="influencers-title" class="font-taylor-swift-base">Contribuições</h4>

        <div id="influencers-data" class="pb-3"></div>

        <div class="row d-flex justify-content-center">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle shadow" width="140" height="140" src="assets/images/influencers/luca.jpg" >

                <h2>Luca</h2>
                <p id="influencers-luca"></p>
                <div>
                    <a class="btn btn-youtube mb-2" href="https://www.youtube.com/@tunezbylucz7752" target="_blank">Youtube <i class="fa-brands fa-youtube"></i></a>
                    <div class="btn-group mb-2">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-guitar"></i> Chords
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item color-speak-now" music="enchanted" album="speak-now">Enchanted</button>
                            <button class="dropdown-item color-midnights" music="anti-hero" album="midnights">Anti-Hero</button>
                            <button class="dropdown-item color-midnights" music="karma" album="midnights">Karma</button>
                            <button class="dropdown-item color-midnights" music="lavender-haze" album="midnights">Lavender Haze</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle shadow" width="140" height="140" src="assets/images/influencers/nena.jpg" >

                <h2>Nena Shelby</h2>
                <p id="influencers-nena"></p>
                <div>
                    <a class="btn btn-youtube mb-2" href="https://www.youtube.com/@NenaShelby" target="_blank">Youtube <i class="fa-brands fa-youtube"></i></a>
                    <div class="btn-group mb-2">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-guitar"></i> Chords
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item color-fearless" music="fearless" album="fearless">Fearless</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle shadow" width="140" height="140" src="assets/images/influencers/mike.jpg" >

                <h2>Mike Garcia</h2>
                <p id="influencers-mike"></p>
                <div>
                    <a class="btn btn-youtube mb-2" href="https://www.youtube.com/@MikeLive1285" target="_blank">Youtube <i class="fa-brands fa-youtube"></i></a>
                    <div class="btn-group mb-2">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-guitar"></i> Chords
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item color-folklore" music="hoax" album="folklore">Hoax</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle shadow" width="140" height="140" src="assets/images/influencers/goddess.jpg" >

                <h2>Guitar Goddess</h2>
                <p id="influencers-goddess"></p>
                <div>
                    <a class="btn btn-youtube mb-2" href="https://www.youtube.com/@GuitarGoddess" target="_blank">Youtube <i class="fa-brands fa-youtube"></i></a>
                    <div class="btn-group mb-2">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-guitar"></i> Chords
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item color-lover" music="the-man" album="lover">The Man</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const mostAccessedMusics = [
        {
            music: { id: 'fearless', name: 'Fearless' },
            album: { id: 'fearless', name: 'Fearless' },
            blocked: false
        },
        {
            music: { id: 'red', name: 'Red' },
            album: { id: 'red', name: 'Red' },
            blocked: false
        },
        {
            music: { id: 'hoax', name: 'Hoax' },
            album: { id: 'folklore', name: 'Folklore' },
            blocked: false
        },
        {
            music: { id: 'lavender-haze', name: 'Lavender Haze' },
            album: { id: 'midnights', name: 'Midnights' },
            blocked: false
        },
        {
            music: { id: 'cardigan', name: 'Cardigan' },
            album: { id: 'folklore', name: 'Folklore' },
            blocked: false
        },
        {
            music: { id: 'anti-hero', name: 'Anti-Hero' },
            album: { id: 'midnights', name: 'Midnights' },
            blocked: false
        },
        {
            music: { id: '', name: 'Cruel Summer' },
            album: { id: 'lover', name: 'Lover' },
            blocked: true
        },
        {
            music: { id: 'karma', name: 'Karma' },
            album: { id: 'midnights', name: 'Midnights' },
            blocked: false
        },
        {
            music: { id: 'come-back-be-here', name: 'Come Back... Be Here' },
            album: { id: 'red', name: 'Red' },
            blocked: false
        },
        {
            music: { id: '', name: '...Ready For It?' },
            album: { id: 'reputation', name: 'Reputation' },
            blocked: true
        },
        {
            music: { id: '', name: 'Maroon' },
            album: { id: 'midnights', name: 'Midnights' },
            blocked: true
        },
        {
            music: { id: 'enchanted', name: 'Enchanted' },
            album: { id: 'speak-now', name: 'Speak Now' },
            blocked: false
        },
        {
            music: { id: 'the-man', name: 'The Man' },
            album: { id: 'lover', name: 'Lover' },
            blocked: false
        },
        {
            music: { id: '', name: 'Exile' },
            album: { id: 'folklore', name: 'Folklore' },
            blocked: true
        },
        {
            music: { id: '', name: 'Forever & Always' },
            album: { id: 'fearless', name: 'Fearless' },
            blocked: true
        }
    ]
    const mostAccessed = $('#mostAccessed ol')

    mostAccessedMusics.forEach((data, index) => {
        mostAccessed.append(`
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
                music="${ data.music.id }"
                album="${ data.album.id }"
                ${ data.blocked ? 'blocked': '' }
            >
                <div class="p-2 number bd-highlight">${ index + 1 }</div>
                <div class="p-2 bd-highlight">
                    ${ data.music.name }
                    ${ data.blocked ? '<i class="fa-regular fa-circle-question color-fearless"></i>': '<i class="fa-regular fa-circle-check color-taylor-swift"></i>' }
                </div>
                <div class="ms-auto p-2 bd-highlight">
                    <span class="badge color-${ data.album.id } border-${ data.album.id } rounded-pill">${ data.album.name }</span>
                </div>
            </li>
        `)
    })

    $('[music]').not('[blocked]').on('click', function() {
        selectMusic($(this).attr('music'))
    })

    $('#mostAccessed li[blocked]').on('click', function() {
        $(this).toggleClass('animate__animated animate__hinge z-index')
    })
</script>
