<a id="btn-home" class="btn" href="https://taylorsongbook.com">
    <i class="bi bi-house"></i> <span>Início</span>
</a>
<button type="button" id="hide-albuns-toggle" class="btn">
    <i class="bi bi-music-note-list"></i> <span></span>
</button>
<button id="dropdown-menu-languages" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Alterar língua">
    <!-- <i class="bi bi-translate"></i> -->
    <i class="fa-solid fa-language"></i>
</button>
<ul class="dropdown-menu" aria-labelledby="dropdown-menu-languages">
    <li><a id="en-US" class="dropdown-item" onclick="setLanguage('en-US')"></a></li>
    <li><a id="pt-BR" class="dropdown-item" onclick="setLanguage('pt-BR')"></a></li>
</ul>
<button id="btn-instructions" type="button" class="btn" data-toggle="tooltip" data-bs-placement="bottom" title="Ajuda">
    <a href="/help" style="color: #6c757d!important"><i class="fa-solid fa-question"></i></a>
</button>
<button id="unpin-shortcuts" type="button" class="btn" data-toggle="tooltip" data-bs-placement="bottom" title="Desafixar atalhos">
    <i class="fa-solid fa-thumbtack"></i>
</button>
