<link href="assets/custom/css/toolbar.css" rel="stylesheet">

<div class="menu-actions d-flex justify-content-center">
    <div class="action">
        <div class="font-action">
            <span class="font-action-title">Font</span>
            <span class="NWgb3">
                <button type="button" class="btn-action font-action-button increase normal-btn-action">
                    <span class="action-content">−1</span>
                </button>
                <span class="divider"></span>
                <button type="button" class="btn-action font-action-button decrease normal-btn-action">
                    <span class="action-content">+1</span>
                </button>
            </span>
        </div>
    </div>
    <div class="action">
        <button type="button" class="btn-action btn-action-chords normal-btn-action btn-action-cursor-pointer">
            <span class="chords-action-title action-content">Chords</span>
        </button>
    </div>
    <!-- <div class="action d-flex action-autoscroll">
        <div class="action change-auto-scroll-speed increase-auto-scroll-speed">
            <button type="button" class="btn-action font-action-button normal-btn-action">
                <span class="action-content">-</span>
            </button>
        </div>
        <button type="button" data-for="autoscroll-tooltip" class="btn-action btn-action-autoscroll btn-action-cursor-pointer">
            <span class="action-content">Autoscroll</span>
        </button>
        <div class="action change-auto-scroll-speed slow-down-auto-scroll">
            <button type="button" class="btn-action font-action-button normal-btn-action">
                <span class="action-content">+</span>
            </button>
        </div>
    </div> -->
    <div class="action column-action">
        <div class="font-action">
            <span class="columns-action-title">COLUMNS</span>
            <span class="NWgb3">
                <button type="button" class="btn-action columns-action-button increase normal-btn-action">
                    <span class="action-content">−1</span>
                </button>
                <span class="divider"></span>
                <button type="button" class="btn-action columns-action-button decrease normal-btn-action">
                    <span class="action-content">+1</span>
                </button>
            </span>
        </div>
    </div>
    <div class="action">
        <button type="button" class="btn-action btn-action-full-screen normal-btn-action btn-action-cursor-pointer">
            <span class="action-content">
                <i class="fa-solid fa-expand fa-lg"></i>
            </span>
        </button>
    </div>
    <div class="action dropup">
        <button type="button" class="btn-action normal-btn-action btn-action-cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false">
            <svg viewBox="0 0 16 16">
                <path
                    d="M13 6.5a1.5 1.5 0 1 0 .001 3.001A1.5 1.5 0 0 0 13 6.5m-5 0a1.5 1.5 0 1 0 .001 3.001A1.5 1.5 0 0 0 8 6.5M4.5 8a1.5 1.5 0 1 1-3.001-.001A1.5 1.5 0 0 1 4.5 8"
                    fill-rule="nonzero">
                </path>
            </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <li>
                <a id="unpin-toolbar" class="dropdown-item">
                    <span>Desafixar</span>
                    <i class="fa-solid fa-thumbtack"></i>
                </a>
            </li>
            <li>
                <a id="only-lyrics" class="dropdown-item">
                    <span>Exibir apenas letra</span>
                    <i class="fa-solid fa-font"></i>
                </a>
            </li>
            <li>
                <a id="hide-lyrics" class="dropdown-item">
                    <span>Ocultar letra</span>
                    <i class="fa-solid fa-music"></i>
                </a>
            </li>
            <li>
                <a id="hide-progressions" class="dropdown-item">
                    <span>Ocultar progressões</span>
                    <i class="fa-solid fa-bars-progress"></i>
                </a>
            </li>
            <li>
                <a id="hide-tabs" class="dropdown-item">
                    <span>Ocultar tablaturas</span>
                    <i class="fa-solid fa-sliders"></i>
                </a>
            </li>
            <!-- <li>
                <a id="hide-chords" class="dropdown-item">
                    <span>Hide chords</span>
                    <i class="fa-solid fa-guitar"></i>
                </a>
            </li> -->
            <li>
                <a id="hide-miniplayer" class="dropdown-item">
                    <span>Ocultar miniplayer</span>
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </li>
            <li>
                <a id="share-cipher" class="dropdown-item" data-clipboard-text="Teste copia">
                    <span>Compartilhar cifra</span>
                    <i class="fa-solid fa-link"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="assets/custom/js/toolbar.js"></script>
<script src="assets/custom/js/autoscroll.js"></script>
