<div class="menu-actions d-flex justify-content-center">
    <div class="action">
        <div class="font-action">
            <span class="font-action-title">Font</span>
            <span class="NWgb3">
                <button type="button" class="btn-action font-action-button increase normal-btn-action">
                    <span class="action-content">−1</span>
                </button>
                <span class="divider"></span>
                <button type="button" class="btn-action font-action-button decrease normal-btn-action">
                    <span class="action-content">+1</span>
                </button>
            </span>
        </div>
    </div>
    <div class="action">
        <button type="button" class="btn-action btn-action-chords normal-btn-action btn-action-cursor-pointer">
            <span class="chords-action-title action-content">Chords</span>
        </button>
    </div>
    <div class="action column-action">
        <div class="font-action">
            <span class="columns-action-title">COLUMNS</span>
            <span class="NWgb3">
                <button type="button" class="btn-action columns-action-button increase normal-btn-action">
                    <span class="action-content">−1</span>
                </button>
                <span class="divider"></span>
                <button type="button" class="btn-action columns-action-button decrease normal-btn-action">
                    <span class="action-content">+1</span>
                </button>
            </span>
        </div>
    </div>
    <div class="action">
        <button type="button" class="btn-action btn-action-full-screen normal-btn-action btn-action-cursor-pointer" style="
            vertical-align: middle;
            text-align: center;
            display: flex;
            align-items: center;"
        >
            <span class="action-content">
                <i class="fa-solid fa-expand fa-lg"></i>
            </span>
        </button>
    </div>
    <div class="action dropup">
        <button type="button" class="btn-action normal-btn-action btn-action-cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false">
            <svg viewBox="0 0 16 16">
                <path
                    d="M13 6.5a1.5 1.5 0 1 0 .001 3.001A1.5 1.5 0 0 0 13 6.5m-5 0a1.5 1.5 0 1 0 .001 3.001A1.5 1.5 0 0 0 8 6.5M4.5 8a1.5 1.5 0 1 1-3.001-.001A1.5 1.5 0 0 1 4.5 8"
                    fill-rule="nonzero">
                </path>
            </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <li>
                <a id="unpin-toolbar" class="dropdown-item">
                    <span>Desafixar</span>
                    📌
                </a>
            </li>
            <li>
                <a id="only-lyrics" class="dropdown-item">
                    <span>Exibir apenas letra</span>
                    🎤
                </a>
            </li>
            <li>
                <a id="hide-lyrics" class="dropdown-item">
                    <span>Ocultar letra</span>
                    👀
                </a>
            </li>
            <li>
                <a id="hide-progressions" class="dropdown-item">
                    <span>Ocultar progressões</span>
                    🎸
                </a>
            </li>
            <li>
                <a id="hide-tabs" class="dropdown-item">
                    <span>Ocultar tablaturas</span>
                    🎼
                </a>
            </li>
            <li>
                <a id="hide-miniplayer" class="dropdown-item">
                    <span>Ocultar miniplayer</span>
                    <i class="bi bi-youtube color-youtube"></i>
                </a>
            </li>
            <li>
                <a id="share-cipher" class="dropdown-item" data-clipboard-text="">
                    <span>Compartilhar cifra</span>
                    🔗
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        // TOOLBAR
        $('#toolbar .dropdown-menu').on({
            "click":function(e) {
                e.stopPropagation()
            }
        })

        $('.closer').on('click', function () {
            $('.btn-group').removeClass('open')
        })

        // CHORDS

        $('.btn-action-chords').click(() => {
            $('#chords').toggleClass('d-flex')
            $('.btn-action-chords').toggleClass('active')
        })

        // FULL SCREEN

        $('.btn-action-full-screen').click(() => {
            if ($('.btn-action-full-screen').hasClass('active')) {
                $('#shortcuts').show()
                $('#wrapper').css({
                    'position': 'fixed',
                    'top': '10%',
                    'bottom': '1%',
                    'left': '0',
                    'right': '0',
                    'padding-right': 'var(--bs-gutter-x,.75rem)',
                    'padding-left': 'var(--bs-gutter-x,.75rem)'
                })
                $('.content').css({
                    'border-radius': '10px'
                })
                $('#page-content-wrapper').css({ 'width': 'calc(100% - 260px)' })
            } else {
                $('#shortcuts').hide()
                $('#wrapper').css({
                    'position': 'fixed',
                    'top': '0%',
                    'bottom': '0',
                    'left': '0',
                    'right': '0',
                    'padding-right': '0',
                    'padding-left': '0',
                })
                $('.content').css({
                    'border-radius': '0'
                })
                $('#page-content-wrapper').css({ 'width': '100%' })
            }

            $('#sidebar').toggleClass('d-none')
            $('#hide-albuns-toggle').toggleClass('d-none')
            $('.btn-action-full-screen').toggleClass('active')
        })

        // FONT

        $('.font-action-button.increase').click(() => {
            const currentFontSize = $('pre[type="lyrics"]').css('font-size').split('px')[0]
            if (currentFontSize >= 7) {
                $('.tabs, .progressions, pre[type="lyrics"]').css({ 'font-size': parseInt(currentFontSize) - 2 + 'px' })
            }
        })

        $('.font-action-button.decrease').click(() => {
            const currentFontSize = $('pre[type="lyrics"]').css('font-size').split('px')[0]
            if (currentFontSize <= 25) {
                $('.tabs, .progressions, pre[type="lyrics"]').css({ 'font-size': parseInt(currentFontSize) + 2 + 'px' })
            }
        })

        // COLUMNS

        $('.columns-action-button.increase').click(() => {
            str_columns = $('#cipher-columns pre').css('columns')
            columns = str_columns.includes('auto') ? parseInt(str_columns.split('auto ')[1]) : parseInt(str_columns)

            if (columns > 4) {
                $('#cipher').children().not('.progressions').hide()
                $('.badge-info-cipher').hide()
                $('#cipher-columns pre').css('columns', (columns - 1).toString())
                $('#cipher-columns pre').css('column-count', (columns - 1).toString())
                $('#cipher-columns').show()
                scrollToElement('#cipher-columns')
            } else {
                $('#cipher').children().not('.progressions').show()
                $('.badge-info-cipher').show()
                $('#cipher-columns').hide()
                scrollToElement('#cipher')
            }
        })

        $('.columns-action-button.decrease').click(() => {
            str_columns = $('#cipher-columns pre').css('columns')
            columns = str_columns.includes('auto') ? parseInt(str_columns.split('auto ')[1]) : parseInt(str_columns)

            if (columns <= 7) {
                $('#cipher').children().not('.progressions').hide()
                $('.badge-info-cipher').hide()
                $('#cipher-columns pre').css('columns', (columns + 1).toString())
                $('#cipher-columns pre').css('column-count', (columns + 1).toString())
                $('#cipher-columns').show()
                scrollToElement('#cipher-columns')
            }
        })

        // Hide menu

        hide = (actionElement, targetElement, targetElementToScroll = '#cipher') => {
            if ($(actionElement).hasClass('active')) {
                $(targetElement).show()
            } else {
                $(targetElement).hide()
            }

            $(actionElement).toggleClass('active')

            if (targetElementToScroll != null) {
                scrollToElement(targetElementToScroll)
            }
        }

        show = (actionElement, targetElement) => {
            if ($(actionElement).hasClass('active')) {
                $(targetElement).show()
            } else {
                $(targetElement).hide()
            }

            scrollToElement(targetElement)
        }

        $('#unpin-toolbar').click(() => {
            $('#toolbar').toggleClass('initial')
            $('#unpin-toolbar').toggleClass('active')
        })

        $('#hide-lyrics').click(() => {hide('#hide-lyrics', 'pre[type="lyrics"]') })
        $('#hide-progressions').click(() => { hide('#hide-progressions', '.progressions') })
        $('#hide-tabs').click(() => { hide('#hide-tabs', '.tabs') })
        $('#hide-chords').click(() => { hide('#hide-chords', 'pre[type="lyrics"] b') })
        $('#hide-miniplayer, #close-miniplayer').click(() => { hide('#hide-miniplayer', '#mini-player', null) })
        $('#only-lyrics').click(() => {
            hide('#only-lyrics', '#cipher')
            show('#only-lyrics', '#lyrics')
        })
    })
</script>