::-webkit-scrollbar-thumb {
    background: var(--color-reputation) !important;
}

#cipher-content .bd-callout-info {
    border-left-color: var(--color-reputation);
}

#cipher-content b {
    font-weight: bold;
    color: var(--color-reputation);
    background-color: transparent;
    padding: 0
}

#cipher-content b::after {
    display: block;
    background: currentColor;
    border-radius: 2px;
    bottom: 0.2em;
    content: "";
    display: none;
    left: 0.25em;
    opacity: .1;
    position: absolute;
    right: 0.25em;
    top: 0.2em;
}

#cipher-content .title, #reputation-album .title {
    font-weight: 300;
    font-family: var(--font-reputation);
    font-size: 48px;
    color: var(--color-reputation);
}

.title-part-cipher,
#cipher-content .color-album {
    color: var(--color-reputation);
}

#cipher-content .bg-album,
#cipher-content .badge-info-cipher {
    background-color: var(--color-reputation);
}

#cipher-content .alert {
    color: var(--color-reputation);
    height: 10px;
    border-radius: 50px;
    border: 1px dashed var(--color-reputation);
}

#cipher-columns .border-column {
    border-left: 2px dashed var(--color-reputation);
    margin-bottom: 30px;
    display: inline-block;
    padding: 0 0 0 1rem;
}
