<style>
    #most-accessed ol {
        margin-top: 20px !important;
    }

    #most-accessed li {
        height: 44px;
        cursor: pointer;
        border: none;
    }

    #most-accessed li:hover {
        border-radius: 8px;
        background: #f5f5f5;
    }

    #most-accessed li .number {
        font-size: 20px;
        color: #e0e0e0;
        font-family: Montserrat,sans-serif;
        font-weight: 600;
    }
</style>

<h1 class="font-taylor-swift-base text-center mt-4">Taylor Swift</h1>
<h6  class="font-taylor-swift-base text-center">The Music Industry</h6>

<div id="summary" class="mt-4 text-center">
    <div class="collapse" id="collapseSummary">
        <p>Welcome to "Taylor's Songbook"! Our website is a true treasure trove of chords for the talented Taylor Swift's songs. Here you will find a comprehensive collection of chords, lyrics, and interactive resources for each of her songs.</p>

        <p>Browse through our catalog organized by albums, where each page is carefully designed with typography and colors that represent the spirit of each musical masterpiece by Taylor. Our goal is to provide an immersive and engaging experience for fans and musicians who want to explore and play Taylor Swift's songs.</p>

        <p>In addition to chords and lyrics, we provide detailed rhythm progressions for each song, allowing you to capture the essence of the songs' rhythm and groove. We also offer guitar tabs and other instrument tabs, making it possible to recreate the authentic arrangements of the songs.</p>

        <p>In "Taylor's Songbook," you will find additional resources such as tutorial videos, technique and interpretation tips, and the ability to interact with other fans and musicians in the community. Share your own versions and discover new interpretations of Taylor's songs.</p>

        <p>Get ready to explore Taylor Swift's musical world comprehensively and inspirationally. Embrace the magic of her compositions, refine your performance, and enjoy the incredible musical journey that is "Taylor's Songbook." Let's play it like Taylor!</p>
    </div>
    <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
</div>

<div class="line"></div>

<div id="most-accessed">
    <h4 class="font-taylor-swift-base">Most Accessed</h4>

    <ol class="list-group"></ol>
</div>

<div class="line"></div>

<script>
    const mostAccessedMusics = [
        {
            music: { id: 'fearless', name: 'Fearless' },
            album: { id: 'fearless', name: 'Fearless' },
            blocked: false
        },
        {
            music: { id: '', name: 'Red' },
            album: { id: 'red', name: 'Red' },
            blocked: true
        },
        {
            music: { id: '', name: 'Cardigan' },
            album: { id: 'folklore', name: 'Folklore' },
            blocked: true
        },
        {
            music: { id: '', name: 'Cruel Summer' },
            album: { id: 'lover', name: 'Lover' },
            blocked: true
        },
        {
            music: { id: '', name: 'You Belong With Me' },
            album: { id: 'fearless', name: 'Fearless' },
            blocked: true
        },
        {
            music: { id: '', name: 'Love Story' },
            album: { id: 'fearless', name: 'Fearless' },
            blocked: true
        },
        {
            music: { id: 'lover', name: 'Lover' },
            album: { id: 'lover', name: 'Lover' },
            blocked: true
        },
        {
            music: { id: '', name: 'Blank Space' },
            album: { id: '1989', name: '1989' },
            blocked: true
        },
        {
            music: { id: '', name: 'All Too Well (10 Minute Version)' },
            album: { id: 'red', name: 'Red' },
            blocked: true
        },
        {
            music: { id: '', name: 'Enchanted' },
            album: { id: 'speak-now', name: 'Speak Now' },
            blocked: true
        }
    ]
    const mostAccessed = $('#most-accessed ol')

    mostAccessedMusics.forEach((data, index) => {
        mostAccessed.append(`
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
                music="${ data.music.id }"
                album="${ data.album.id }"
                ${ data.blocked ? 'blocked': '' }
            >
                <div class="p-2 number bd-highlight">${ index + 1 }</div>
                <div class="p-2 bd-highlight">${ data.music.name }</div>
                <div class="ms-auto p-2 bd-highlight">
                    <span class="badge color-${ data.album.id } border-${ data.album.id } rounded-pill">${ data.album.name }</span>
                </div>
            </li>
        `)
    })

    $('#most-accessed li').not('[blocked]').on('click', function() {
        selectMusic($(this).attr('album'), $(this).attr('music'))
    })
</script>