<link href="assets/dist/custom/css/toolbar.css" rel="stylesheet">

<div class="menu-actions">
    <div class="action">
        <div class="font-action">
            <span class="font-action-title">Font</span>
            <span class="NWgb3">
                <button type="button" class="btn-action font-action-button increase normal-btn-action">
                    <span class="action-content">−1</span>
                </button>
                <span class="divider"></span>
                <button type="button" class="btn-action font-action-button decrease normal-btn-action">
                    <span class="action-content">+1</span>
                </button>
            </span>
        </div>
    </div>
    <div class="action">
        <button type="button" class="btn-action btn-action-chords normal-btn-action btn-action-cursor-pointer">
            <span class="action-content">Chords</span>
        </button>
    </div>
    <div class="action d-flex action-autoscroll">
        <div class="action change-auto-scroll-speed increase-auto-scroll-speed">
            <button type="button" class="btn-action font-action-button normal-btn-action">
                <span class="action-content">-</span>
            </button>
        </div>
        <button type="button" data-for="autoscroll-tooltip" class="btn-action btn-action-autoscroll btn-action-cursor-pointer">
            <span class="action-content">Autoscroll</span>
        </button>
        <div class="action change-auto-scroll-speed slow-down-auto-scroll">
            <button type="button" class="btn-action font-action-button normal-btn-action">
                <span class="action-content">+</span>
            </button>
        </div>
    </div>
    <div class="action">
        <button type="button" class="btn-action normal-btn-action btn-action-cursor-pointer">
            <svg viewBox="0 0 16 16">
                <path
                    d="M13 6.5a1.5 1.5 0 1 0 .001 3.001A1.5 1.5 0 0 0 13 6.5m-5 0a1.5 1.5 0 1 0 .001 3.001A1.5 1.5 0 0 0 8 6.5M4.5 8a1.5 1.5 0 1 1-3.001-.001A1.5 1.5 0 0 1 4.5 8"
                    fill-rule="nonzero">
                </path>
            </svg>
        </button>
    </div>
</div>

<script src="assets/dist/custom/js/toolbar.js"></script>
