<link href="assets/custom/css/albuns/evermore.css" rel="stylesheet">

<div id="evermore-album">
    <h1 class="title title-album my-3">Evermore</h1>

    <p>Evermore is the ninth studio album by American singer-songwriter Taylor Swift. Released in 2020 as a surprise companion to her previous album Folklore, Evermore continues the introspective and indie-folk sound of its predecessor. The album takes listeners on a journey through ethereal storytelling, introspection, and emotional exploration.</p>

    <h2 class="title sub-title my-4">Details</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Evermore features collaborations with artists such as Bon Iver, HAIM, and The National, adding unique textures and layers to the album's atmospheric sound.</li>
        <li class="list-group-item">The album's introspective and poetic lyrics delve into themes of love, loss, and personal growth, inviting listeners to reflect on their own experiences.</li>
        <li class="list-group-item">Evermore showcases Taylor Swift's evolution as a songwriter, with its intricate storytelling and sonic landscapes creating a captivating and immersive listening experience.</li>
        <li class="list-group-item">The album's production blends folk, alternative, and indie-pop influences, creating a cohesive and enchanting sonic palette.</li>
        <li class="list-group-item">Evermore received critical acclaim, with praise for its lyrical depth, atmospheric production, and Taylor Swift's artistic growth.</li>
    </ul>

    <h2 class="title sub-title my-4">Curiosities</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Evermore was recorded during the COVID-19 pandemic, with Swift taking advantage of the quiet and isolated setting to focus on her songwriting and creative process.</li>
        <li class="list-group-item">The surprise release of Evermore delighted fans, who were thrilled to receive another introspective and atmospheric album from Taylor Swift so soon after Folklore.</li>
        <li class="list-group-item">Evermore received several Grammy nominations, including Album of the Year, further solidifying Taylor Swift's position as one of the most respected and influential artists of her generation.</li>
        <li class="list-group-item">The album's introspective and ethereal soundscapes create a dreamlike atmosphere, allowing listeners to immerse themselves in the stories and emotions conveyed by Taylor Swift.</li>
        <li class="list-group-item">With Evermore, Taylor Swift continues to push the boundaries of her artistic expression, captivating audiences with her storytelling and musical prowess.</li>
    </ul>

    <h2 class="title sub-title my-4">Album Tracks</h2>

    <ol class="list-group music-list"></ol>
</div>

<script src="assets/custom/js/albuns/create-album-content.js"></script>
