<link href="public_html/assets/custom/css/albuns/1989.css" rel="stylesheet">

<div id="album-1989">
    <h1 class="title title-album my-3">1989</h1>

    <p>1989 is the fifth studio album by American singer-songwriter Taylor Swift. Released in 2014, this album marked a
        significant departure from Swift's country roots as she fully embraced a pop sound. Inspired by the synth-pop
        and dance-pop of the 1980s, 1989 offers a collection of upbeat and catchy tracks that showcase Swift's evolution
        as a pop artist.</p>

    <h2 class="title sub-title my-4">Details</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">1989 features a more mature and confident Swift, exploring themes of self-discovery, love, and independence.</li>
        <li class="list-group-item">The album's lead single, "Shake It Off," became a chart-topping hit and introduced the album's energetic and infectious sound.</li>
        <li class="list-group-item">With tracks like "Blank Space," "Bad Blood," and "Style," 1989 showcases Swift's storytelling abilities and knack for crafting memorable pop anthems.</li>
        <li class="list-group-item">1989 received critical acclaim for its sleek production, catchy hooks, and the way it captured the essence of the pop music of the 1980s while still maintaining Swift's unique style.</li>
        <li class="list-group-item">The album's success led to numerous accolades, including Grammy Awards for Album of the Year and Best Pop Vocal Album.</li>
    </ul>

    <h2 class="title sub-title my-4">Curiosities</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">1989 marked a significant shift in Swift's image and public perception, solidifying her status as a global pop superstar.</li>
        <li class="list-group-item">The album's release was accompanied by a high-profile media campaign, including secret listening sessions for fans and a successful transition into the pop music scene.</li>
        <li class="list-group-item">Swift co-wrote all the songs on 1989 with notable producers and songwriters, including Max Martin and Shellback, Ryan Tedder, and Jack Antonoff.</li>
        <li class="list-group-item">The album's title, "1989," reflects the year of Swift's birth and serves as a nod to the influence of the 1980s pop music on the album's sound.</li>
        <li class="list-group-item">1989 became one of the best-selling albums of the year and further cemented Taylor Swift's status as one of the biggest pop stars of her generation.</li>
    </ul>

    <h2 class="title sub-title my-4">Album Tracks</h2>

    <ol class="list-group list-group-flush"></ol>
</div>

<script src="public_html/assets/custom/js/albuns/create-album-content.js"></script>