<link href="public_html/assets/custom/css/albuns/folklore.css" rel="stylesheet">

<div id="folklore-album">
    <h1 class="title title-album my-3">Folklore</h1>

    <p>Folklore is the eighth studio album by American singer-songwriter Taylor Swift. Released in 2020, this album took a departure from Swift's usual pop sound and delved into a more indie-folk and alternative direction. Folklore presents a collection of introspective and storytelling songs, with ethereal melodies and poetic lyrics that transport listeners into a world of introspection and imagination.</p>

    <h2 class="title sub-title my-4">Details</h2>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Folklore showcases Swift's storytelling prowess, as she weaves intricate narratives and explores themes of love, loss, and escapism.</li>
        <li class="list-group-item">The album features collaborations with musicians Aaron Dessner of The National and Bon Iver, adding depth and texture to the overall sound.</li>
        <li class="list-group-item">With tracks like "Cardigan," "Exile," and "August," Folklore received critical acclaim for its poetic lyrics, atmospheric production, and the maturity in Swift's songwriting.</li>
        <li class="list-group-item">The surprise release of Folklore during the global pandemic captivated fans and music critics alike, providing solace and a musical escape during uncertain times.</li>
        <li class="list-group-item">Folklore earned several accolades, including Album of the Year at the Grammy Awards, solidifying its place as a significant artistic achievement in Taylor Swift's discography.</li>
    </ul>
    
    <h2 class="title sub-title my-4">Curiosities</h2>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Folklore was largely recorded in isolation, with Swift and her collaborators working remotely due to the COVID-19 pandemic.</li>
        <li class="list-group-item">The album's introspective and poetic nature resonated with listeners, leading to a strong emotional connection and critical acclaim.</li>
        <li class="list-group-item">Folklore's introspective approach marked a departure from Swift's previous albums, showcasing her growth as an artist and expanding her musical horizons.</li>
        <li class="list-group-item">The stripped-down production and intimate atmosphere of Folklore created a unique sonic experience, inviting listeners into a world of contemplation and storytelling.</li>
        <li class="list-group-item">Fans and music critics praised Folklore for its cohesiveness, artistic vision, and the vulnerability displayed in Swift's songwriting.</li>
    </ul>
    
    <h2 class="title sub-title my-4">Album Tracks</h2>

    <ol class="list-group list-group-flush"></ol>
</div>

<script src="public_html/assets/custom/js/albuns/create-album-content.js"></script>
