<link href="public_html/assets/custom/css/albuns/lover.css" rel="stylesheet">

<div id="lover-album">
    <h1 class="title title-album my-3">Lover</h1>

    <p>Lover is the seventh studio album by American singer-songwriter Taylor Swift. Released in 2019, this album
        showcases a more mature and introspective side of Swift, exploring themes of love, relationships, and
        self-acceptance. With a mix of pop, synth-pop, and indie-pop sounds, Lover offers a diverse and vibrant musical
        landscape.</p>

    <h2 class="title sub-title my-4">Details</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Lover features a more romantic and optimistic tone compared to Swift's previous albums, celebrating the joy and complexities of love.</li>
        <li class="list-group-item">The album includes hit singles like "Me!", "You Need to Calm Down," and "Lover," which became fan favorites and garnered significant chart success.</li>
        <li class="list-group-item">Swift showcases her songwriting prowess in Lover, crafting deeply personal and relatable lyrics that resonate with listeners.</li>
        <li class="list-group-item">The album's production incorporates lush arrangements and catchy melodies, creating a whimsical and dreamy sonic experience.</li>
        <li class="list-group-item">Lover received critical acclaim, with praise for its cohesive sound, artistic growth, and the way it explores themes of vulnerability and self-expression.</li>
    </ul>

    <h2 class="title sub-title my-4">Curiosities</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">The release of Lover was accompanied by a colorful and inclusive marketing campaign, promoting messages of love, acceptance, and equality.</li>
        <li class="list-group-item">Swift collaborated with a variety of artists and producers on Lover, including Jack Antonoff, Joel Little, and Brendon Urie, resulting in a diverse and collaborative album.</li>
        <li class="list-group-item">Lover became Swift's fourth consecutive album to debut at number one on the Billboard 200 chart, further solidifying her commercial success.</li>
        <li class="list-group-item">The album received multiple award nominations and wins, including Album of the Year at the American Music Awards.</li>
        <li class="list-group-item">Fans praised Lover for its introspection, catchy melodies, and the way it showcases Swift's growth as an artist and storyteller.</li>
    </ul>

    <h2 class="title sub-title my-4">Album Tracks</h2>

    <ol class="list-group list-group-flush"></ol>
</div>

<script src="public_html/assets/custom/js/albuns/create-album-content.js"></script>