<link href="public_html/assets/custom/css/albuns/red.css" rel="stylesheet">

<div id="red-album">
    <h1 class="title title-album my-3">RED</h1>

    <p>The album "RED" is the fourth studio album by singer-songwriter Taylor Swift, released in 2012. This album marks
        a transitional phase in Swift's career as she expands her musical horizons and explores a more mature and daring
        sound. Combining elements of pop, rock, and country, "RED" offers an emotional journey filled with memorable
        songs and personal lyrics that capture the whirlwind of emotions associated with love and heartbreak.</p>
    <p>With 16 captivating tracks, "RED" showcases a variety of musical styles, from infectious pop anthems to
        introspective and emotive ballads. Through her lyrics, Taylor Swift shares her experiences and emotions in an
        honest and authentic way, delving into tumultuous relationships, intense memories, and moments of
        self-discovery.</p>

    <h2 class="title sub-title my-4">Curiosities</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">"RED" marked Taylor Swift's transition to a more pop sound, leaving behind her predominantly country roots. The album incorporates electronic elements and influences from 80s rock, expanding Swift's musical range.</li>
        <li class="list-group-item">During the production of "RED," Swift collaborated with a talented team of songwriters and producers, including Max Martin, Shellback, Dan Wilson, and Butch Walker, who contributed to the album's diverse and innovative sound.</li>
        <li class="list-group-item">The release of "RED" was accompanied by a creative marketing campaign, in which Taylor Swift launched previews of the songs through TV commercials, building anticipation and excitement among her fans.</li>
        <li class="list-group-item">The album achieved tremendous success, debuting at the top of the charts in multiple countries and selling over 1 million copies in the first week in the United States alone.</li>
        <li class="list-group-item">"RED" received critical acclaim, with praise for Taylor Swift's artistic evolution and her ability to capture complex emotions in her compositions. The album also earned Swift numerous awards, including the Grammy for Best Pop Vocal Album.</li>
    </ul>

    <h2 class="title sub-title my-4">Album Tracks</h2>

    <ol class="list-group list-group-flush"></ol>

    <!-- <p>No "Taylor's Songbook", você encontrará a cifra completa de todas as músicas do álbum "RED", com progressões de acordes, ritmos, tabs e tutoriais do YouTube. Explore e desfrute das músicas envolventes e das histórias cativantes deste icônico álbum de Taylor Swift.</p> -->
</div>

<script src="public_html/assets/custom/js/albuns/create-album-content.js"></script>
