<link href="/public_html/assets/custom/css/albuns/reputation.css" rel="stylesheet">

<div id="reputation-album">
    <h1 class="title title-album my-3">Reputation</h1>

    <p>Reputation is the sixth studio album by American singer-songwriter Taylor Swift. Released in 2017, this album
        marks a significant shift in Swift's musical style as she embraces a darker and more electronic sound.
        Reputation delves into themes of fame, media scrutiny, and personal growth, presenting a more rebellious and
        assertive side of Swift.</p>

    <h2 class="title sub-title my-4">Details</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Reputation incorporates elements of pop, electro-pop, and hip-hop, showcasing Swift's versatility as an artist.</li>
        <li class="list-group-item">The album includes hit singles like "Look What You Made Me Do," "Delicate," and "End Game," which explore themes of self-reflection, resilience, and empowerment.</li>
        <li class="list-group-item">Swift's songwriting on Reputation delves into her experiences with media scrutiny and public perception, offering a glimpse into her personal and professional journey.</li>
        <li class="list-group-item">The album's production features collaborations with producers such as Max Martin, Shellback, and Jack Antonoff, resulting in a sonically adventurous and experimental album.</li>
        <li class="list-group-item">Reputation received mixed reviews from critics, with praise for Swift's artistic evolution and experimentation, as well as some criticism for its darker and more polarizing tone.</li>
    </ul>

    <h2 class="title sub-title my-4">Curiosities</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">The release of Reputation was accompanied by an elaborate marketing campaign, with Swift teasing and building anticipation through cryptic messages and visual clues.</li>
        <li class="list-group-item">The album's lyrics and imagery reference Swift's public feuds and controversies, adding layers of intrigue and speculation.</li>
        <li class="list-group-item">Reputation debuted at number one on the Billboard 200 chart and became the best-selling album of 2017 in the United States.</li>
        <li class="list-group-item">The subsequent Reputation Stadium Tour became one of the highest-grossing tours of all time, showcasing Swift's artistic vision and captivating live performances.</li>
        <li class="list-group-item">Reputation represents a bold artistic statement for Swift, allowing her to redefine her public image and assert her creative autonomy.</li>
    </ul>

    <h2 class="title sub-title my-4">Album Tracks</h2>

    <ol class="list-group list-group-flush"></ol>
</div>

<script src="/public_html/assets/custom/js/albuns/create-album-content.js"></script>