<h1 class="title">The Man</h1>

<span class="cipher-tone">Tom: <b>C</b></span>

<div class="bd-callout bd-callout-info text-black-50 fw-normal">
    <div class="d-flex justify-content-between">
        <div>| <b>F</b> | <b>G</b> | <b>C</b> | <b>Am</b> |</div>
        <div class="fw-bold">D - U D U - D - - - - - - - - -</div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="fw-bold">INTRO/VERSION</div>
        <div>1 a + e 2 a + e 3 a + e 4 a + e</div>
    </div>
</div>

<pre>
[Intro]

<b>F</b>                    <b>G</b>
I would be complex, I would be cool
<b>C</b>                                 <b>Am</b>
They'd say I played the field before I found someone to commit to
<b>F</b>               <b>G</b>
And that would be okay for me to do
<b>C</b>                                 <b>Am</b>
Every conquest I had made would make me more of a boss to you

[Pre-Chorus]

<b>F</b>
I'd be a fearless leader
<b>G</b>
I'd be an alpha type
<b>C</b>
When everyone believes ya
<b>Am</b>
What's that like?

[Chorus]

<b>F</b>                          <b>G</b>
I'm so sick of running as fast as I can
<b>C</b>                                      <b>Am</b>
Wondering if I'd get there quicker if I was a man
<b>F</b>                          <b>G</b>
And I'm so sick of them coming at me again
<b>C</b>                 <b>Am</b>
'Cause if I was a man, then I'd be the man
<b>F</b>   <b>G</b>
I'd be the man
<b>C</b>   <b>Am</b>
I'd be the man

[Segunda Parte]

<b>F</b>                   <b>G</b>
They'd say I hustled, put in the work
<b>C</b>                                     <b>Am</b>
They wouldn't shake their heads and question how much of this I deserve
<b>F</b>                 <b>G</b>
What I was wearing, if I was rude
<b>C</b>                       <b>Am</b>
Could all be separated from my good ideas and power moves

<b>F</b>                            <b>G</b>
And they would toast to me, oh, let the players play
<b>C</b>                   <b>Am</b>
I'd be just like Leo in Saint Tropez

[Refrão]

<b>F</b>                          <b>G</b>
I'm so sick of running as fast as I can
<b>C</b>                                      <b>Am</b>
Wondering if I'd get there quicker if I was a man
<b>F</b>                          <b>G</b>
And I'm so sick of them coming at me again
<b>C</b>                 <b>Am</b>
'Cause if I was a man, then I'd be the man
<b>F</b>   <b>G</b>
I'd be the man
<b>C</b>   <b>Am</b>
I'd be the man

[Ponte]

            <b>F</b>
What's it like to brag about drinking and dollars
<b>G</b>
And getting bitches and models?
<b>C</b>
And it's all good if you're bad
<b>Am</b>
And it's okay if you're mad
<b>F</b>                             <b>G</b>
If I was out flashing my dollars, I'd be a bitch not a baller
<b>C</b>
They'd paint me out to be bad
<b>Am</b>
So, it's okay that I'm mad

[Refrão]

<b>F</b>                          <b>G</b>
I'm so sick of running as fast as I can
<b>C</b>                                      <b>Am</b>
Wondering if I'd get there quicker if I was a man (You know that)
<b>F</b>                          <b>G</b>
And I'm so sick of them coming at me again (Coming at me again)
<b>C</b>
'Cause if I was a man (If I was a man)
<b>Am</b>
Then I'd be the man (Then I'd be the man)
<b>F</b>                          <b>G</b>
I'm so sick of running as fast as I can (As fast as I can)
<b>C</b>                                      <b>Am</b>
Wondering if I'd get there quicker if I was a man (Hey)
<b>F</b>                          <b>G</b>
And I'm so sick of them coming at me again (Coming at me again)
<b>C</b>                                  <b>Am</b>
'Cause if I was a man (If I was a man), then I'd be the man
<b>F</b>   <b>G</b>
I'd be the man
<b>C</b>       <b>Am</b>
I'd be the man (Oh)
<b>F</b>         <b>G</b>
I'd be the man (Yeah)
<b>C</b>   <b>Am</b>
I'd be the man (I'd be the man)

If I was a man, then I'd be the man
</pre>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Details
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <a class="d-flex align-items-center p-3" href="https://genius.com/Taylor-swift-the-man-lyrics" target="_blank">🎤 Lyrics by Genius</a>
            <iframe width="560" height="400" src="https://www.youtube.com/embed/JH14683wgl0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>
