<h1 class="title">Fearless</h1>

<span class="cipher-tone">Tom: <b>F</b> (forma dos acordes no tom de D)</span>

<span data-cy="song-capo">
    Capotraste na <b>3ª casa</b>
</span>

<div class="bd-callout bd-callout-info text-black-50 fw-normal position-relative">
    <div class="d-flex justify-content-between">
        <div>| <b>D</b> | <b>A</b> | <b>Em</b> | <b>G</b> |</div>
        <div class="fw-bold">D - - - D - - - U U D - U D U -</div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="fw-bold">INTRO/VERSION</div>
        <div>1 a + e 2 a + e 3 a + e 4 a + e</div>
    </div>
    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-album">
        Intro 2x
    </span>
</div>

<pre>

[Riff Intro]

<span class="tablatura">
E|----0--0---2-------0--0-2-3-2---0--0--2-5-3-2-0---|
B|---3--3----------3--3----------3--3---------------|
G|--------------------------------------------------|
D|--------------------------------------------------|
A|--------------------------------------------------|
E|--------------------------------------------------|
</span>

<span class="tablatura">
E|----0--0---2-------0--0-2-3-2---0--0--2-5-3-5-3---|
B|---3--3----------3--3----------3--3---------------|
G|--------------------------------------------------|
D|--------------------------------------------------|
A|--------------------------------------------------|
E|--------------------------------------------------|
</span>

[Primeira Parte]

<b>D</b>
There's something 'bout the way
<b>A</b>                                <b>Em</b>
The street looks when it's just rained
                        <b>G</b>
There's a glow off the pavement
                    <b>D</b>
You walk me to the car
                    <b>A</b>                
And you know I wanna ask you to dance 
    <b>Em</b>
right there
                        <b>G</b>
In the middle of the parking lot

[Repete Intro]

<b>D</b>   <b>A</b>
Yeah
<b>Em</b>   <b>G</b>
Oh Yeah

[Segunda Parte]

<b>D</b>
We're drivin' down the road
<b>A</b>                <b>Em</b>
I wonder if you know
                    <b>G</b>
I'm trying so hard not to get caught up 
now
<b>D</b>
But you're just so cool
<b>A</b>                           <b>Em</b>
Run your hands through your hair
                <b>G</b>        <b>A</b>
Absent mindedly making me want you

[Refrão]

<b>D</b>                     <b>A</b>                   
And I don't know how it gets better than 
<b>Em</b>
this
                                <b>G</b>          
You take my hand and drag me head first, 
<b>A</b>
fearless
<b>D</b>                     <b>A</b>              
And I don't know why but with you I'd 
<b>Em</b>
dance
                    <b>G</b>           <b>A</b>
In a storm in my best dress, fearless

[Repete Intro]

[Terceira Parte]

<b>D</b>                   <b>A</b>                  <b>Em</b>
So baby drive slow till we run out of road
                    <b>G</b>
In this one horse town
                    <b>D</b>                      
I wanna stay right here in this passenger 
<b>A</b>
seat
                    <b>Em</b>
you put your eyes on me
                    <b>G</b>             <b>A</b>
In this moment now capture it remember it

[Refrão]

<b>D</b>                     <b>A</b>                   
And I don't know how it gets better than 
<b>Em</b>
this
                                <b>G</b>          
You take my hand and drag me head first, 
<b>A</b>
fearless
<b>D</b>                     <b>A</b> <b>Em</b>             
And I don't know why but with you I'd dance
                    <b>G</b>           <b>A</b>
In a storm in my best dress, fearless
</pre>

<div class="bd-callout bd-callout-info text-black-50 fw-normal position-relative">
    <div class="d-flex justify-content-between">
        <div>| <b>Em</b> | <b>G</b> | <b>D</b> | <b>A</b> |</div>
        <div class="fw-bold">D - U D U - D - - - - - - - - -</div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="fw-bold">INTRO/VERSION</div>
        <div>1 a + e 2 a + e 3 a + e 4 a + e</div>
    </div>
    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-album">
        Solo 2x
    </span>
</div>

<pre>
E|------------------------------------------------------|
B|-5h6-6-6-6--6-6-6p5-5-3-------------------------------|
G|------------------------3h5-3h5-5-3v------------------|
D|-------------------------------------5/7-3------------|
A|------------------------------------------------------|
E|------------------------------------------------------|

E|------------------------------------------------------|
B|--------------6-8p6-8b10r8p6-8v-8b10r8p6-9v-----------|
G|----------5-7-----------------------------------------|
D|-3--3/5-7---------------------------------------------|
A|------------------------------------------------------|
E|--------------------------------------------13/-------|

E|------------------------------------------------------|
B|------------------------------------------------------|
G|-----------------2b3r2-------------3/5-3-2-0--0-2-3v--|
D|-----------0-3v--------3-------3v---------------------|
A|---0-1v--3---------------3-1-0------------------------|
E|-3----------------------------------------------------|

<b>C9</b>                         <b>D</b>
Yeah you stood there with me in the 
doorway
    <b>Em</b>               <b>D</b>       <b>G</b>        <b>A</b>
my hands shake, I'm not usually this way
    <b>C9</b>                         <b>D</b>
But you pull me in and I'm a little more 
brave
        <b>Em</b>                 <b>D</b>              
It's a first kiss, it's flawless, really 
<b>G</b>
something
<b>A</b>
It's fearless

[Repete Intro]

<b>D</b>   <b>A</b>   <b>Em</b>      <b>G</b>
        Ohh..  Yeah

[Refrão]

<b>D</b>                     <b>A</b>                   
And I don't know how it gets better than 
<b>Em</b>
this
                                <b>G</b>          
You take my hand and drag me head first, 
<b>A</b>
fearless
<b>D</b>                     <b>A</b>              
And I don't know why but with you I'd 
<b>Em</b>
dance
                    <b>G</b>           <b>A</b>
In a storm in my best dress, fearless

[Refrão]

<b>D</b>                     <b>A</b>                   
And I don't know how it gets better than 
<b>Em</b>
this
                                <b>G</b>          
You take my hand and drag me head first, 
<b>A</b>
fearless
<b>D</b>                     <b>A</b>              
And I don't know why but with you I'd 
<b>Em</b>
dance
                    <b>G</b>           <b>A</b>
In a storm in my best dress, fearless

<b>D</b>     <b>A</b>   <b>E</b>    <b>G</b>
Oh.. oh, yeah, yeah
</pre>

<section class="player player--music player--init player--min" id="js-pl-v">
    <div class="player-core">
        <iframe width="284" height="160" src="https://www.youtube.com/embed/D8fuCW9-vOc" class="rounded-3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="player-closePlayerControl">
        <button class="player-miniPlayerCloseButton btn btn-dark" data-title="Fechar Miniplayer">Fechar Miniplayer</button>
    </div>
</section>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Details
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <a class="d-flex align-items-center p-3" href="https://genius.com/Taylor-swift-fearless-taylors-version-lyrics" target="_blank">🎤 Lyrics by Genius</a>
            <iframe width="260" height="315" src="https://www.youtube.com/embed/D8fuCW9-vOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>
