<link href="public_html/assets/custom/css/albuns/lover.css" rel="stylesheet">

<div id="lover-album">
    <h1 class="title title-album my-3">Lover</h1>

    <p>Lover é o sétimo álbum de estúdio da cantora e compositora norte-americana Taylor Swift. Lançado em 2019, este
        álbum mostra um lado mais maduro e introspectivo de Swift, explorando temas de amor, relacionamentos e
        autoaceitação. Com uma mistura de sons pop, synth-pop e indie-pop, Lover oferece uma paisagem musical diversa e
        vibrante.</p>

    <h2 class="title sub-title my-4">Detalhes</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Lover apresenta um tom mais romântico e otimista em comparação com os álbuns anteriores de Swift, celebrando a alegria e complexidades do amor.</li>
        <li class="list-group-item">O álbum inclui singles de sucesso como "Me!", "You Need to Calm Down" e "Lover", que se tornaram favoritos dos fãs e alcançaram sucesso nas paradas.</li>
        <li class="list-group-item">Swift demonstra sua habilidade decomposição em Lover, criando letras profundamente pessoais e identificáveis que ressoam com os ouvintes.</li>
        <li class="list-group-item">A produção do álbum incorpora arranjos ricos e melodias cativantes, criando uma experiência sonora lúdica e sonhadora.</li>
        <li class="list-group-item">Lover recebeu aclamação da crítica, sendo elogiado por seu som coeso, crescimento artístico e exploração de temas como vulnerabilidade e expressão pessoal.</li>
    </ul>

    <h2 class="title sub-title my-4">Curiosidades</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">O lançamento de Lover foi acompanhado por uma campanha de marketing colorida e inclusiva, promovendo mensagens de amor, aceitação e igualdade.</li>
        <li class="list-group-item">Swift colaborou com uma variedade de artistas e produtores em Lover, incluindo Jack Antonoff, Joel Little e Brendon Urie, resultando em um álbum diversificado e colaborativo.</li>
        <li class="list-group-item">Lover se tornou o quarto álbum consecutivo de Swift a estrear em primeiro lugar na parada Billboard 200, solidificando ainda mais seu sucesso comercial.</li>
        <li class="list-group-item">O álbum recebeu várias indicações e prêmios, incluindo Álbum do Ano no American Music Awards.</li>
        <li class="list-group-item">Os fãs elogiaram Lover por sua introspecção, melodias cativantes e pela forma como mostra o crescimento de Swift como artista e contadora de histórias.</li>
    </ul>

    <h2 class="title sub-title my-4">Faixas do álbum</h2>

    <ol class="list-group list-group-flush"></ol>
</div>

<script src="public_html/assets/custom/js/albuns/create-album-content.js"></script>