<link href="public_html/assets/custom/css/albuns/red.css" rel="stylesheet">

<div id="red-album">
    <h1 class="title title-album my-3">RED</h1>

    <p>O álbum "RED" é o quarto álbum de estúdio da cantora e compositora Taylor Swift, lançado em 2012. Este álbum
        marca uma fase de transição na carreira de Swift, à medida que ela expande seus horizontes musicais e
        experimenta uma sonoridade mais madura e ousada. Combinando elementos do pop, rock e country, "RED" oferece uma
        jornada emocional repleta de canções marcantes e letras pessoais que capturam o turbilhão de emoções associadas
        ao amor e ao coração partido.</p>

    <p>Com 16 faixas cativantes, "RED" apresenta uma variedade de estilos musicais, desde os hinos pop contagiantes até
        as baladas introspectivas e emocionantes. Através das letras, Taylor Swift compartilha suas experiências e
        emoções de forma honesta e autêntica, mergulhando em relacionamentos tumultuosos, memórias intensas e momentos
        de autodescoberta.</p>

    <h2 class="title sub-title my-4">Curiosidades</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">"RED" marcou a transição de Taylor Swift para um som mais pop, deixando para trás suas raízes predominantemente country. O álbum incorpora elementos eletrônicos e influências do rock dos anos 80, expandindo o alcance musical de Swift.</li>
        <li class="list-group-item">Durante a produção de "RED", Swift trabalhou com uma equipe de compositores e produtores talentosos, incluindo Max Martin, Shellback, Dan Wilson e Butch Walker, que contribuíram para a sonoridade diversificada e inovadora do álbum.</li>
        <li class="list-group-item">O lançamento de "RED" foi acompanhado por uma campanha de marketing criativa, em que Taylor Swift lançou prévias das músicas através de anúncios de TV, construindo antecipação e entusiasmo entre seus fãs.</li>
        <li class="list-group-item">O álbum alcançou um sucesso estrondoso, estreando no topo das paradas em vários países e vendendo mais de 1 milhão de cópias apenas na primeira semana nos Estados Unidos.</li> <li class="list-group-item">"RED" recebeu elogios da crítica, que elogiou a evolução artística de Taylor Swift e sua habilidade de capturar emoções complexas em suas composições. O álbum também rendeu a Swift diversos prêmios, incluindo o Grammy de Melhor Álbum Vocal Pop. </li>
    </ul>

    <h2 class="title sub-title my-4">Faixas do álbum</h2>

    <ol class="list-group list-group-flush"></ol>

    <!-- <p>No "Taylor's Songbook", você encontrará a cifra completa de todas as músicas do álbum "RED", com progressões de acordes, ritmos, tabs e tutoriais do YouTube. Explore e desfrute das músicas envolventes e das histórias cativantes deste icônico álbum de Taylor Swift.</p> -->
</div>

<script src="public_html/assets/custom/js/albuns/create-album-content.js"></script>