<link href="/assets/custom/css/albuns/1989.css" rel="stylesheet">

<div id="album-1989">
    <h1 class="title title-album my-3">1989</h1>

    <p>1989 é o quinto álbum de estúdio da cantora e compositora norte-americana Taylor Swift. Lançado em 2014, este
        álbum marcou uma mudança significativa em relação às raízes country de Swift, à medida que ela se entregou
        completamente a um som pop. Inspirado no synth-pop e dance-pop dos anos 80, 1989 oferece uma coleção de faixas
        animadas e cativantes que mostram a evolução de Swift como artista pop.</p>

    <h2 class="title sub-title my-4">Detalhes</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">1989 apresenta uma Swift mais madura e confiante, explorando temas de autodescoberta, amor e independência.</li>
        <li class="list-group-item">O primeiro single do álbum, "Shake It Off", tornou-se um sucesso nas paradas e introduziu o som enérgico e contagiante do álbum.</li>
        <li class="list-group-item">Com faixas como "Blank Space", "Bad Blood" e "Style", 1989 mostra as habilidades de narrativa de Swift e seu talento em criar hinos pop memoráveis.</li>
        <li class="list-group-item">1989 recebeu aclamação da crítica por sua produção sofisticada, ganchos cativantes e por capturar a essência da música pop dos anos 80, ao mesmo tempo em que mantém o estilo único de Swift.
        </li>
        <li class="list-group-item">O sucesso do álbum rendeu várias premiações, incluindo o Grammy de Álbum do Ano e Melhor Álbum Vocal Pop.</li>
    </ul>

    <h2 class="title sub-title my-4">Curiosidades</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">1989 marcou uma mudança significativa na imagem e percepção pública de Swift, solidificando seu status como uma superstar global do pop.</li>
        <li class="list-group-item">O lançamento do álbum foi acompanhado por uma campanha de mídia de alto perfil, incluindo sessões de audição secretas para os fãs e uma transição bem-sucedida para a cena da música pop.
        </li>
        <li class="list-group-item">Swift coescreveu todas as músicas de 1989 com produtores e compositores renomados, incluindo Max Martin e Shellback, Ryan Tedder e Jack Antonoff.</li>
        <li class="list-group-item">O título do álbum, "1989", reflete o ano de nascimento de Swift e serve como uma homenagem à influência da música pop dos anos 80 no som do álbum.</li>
        <li class="list-group-item">1989 se tornou um dos álbuns mais vendidos do ano e solidificou ainda mais o status de Taylor Swift como uma das maiores estrelas pop de sua geração.</li>
    </ul>

    <h2 class="title sub-title my-4">Faixas do álbum</h2>

    <ol class="list-group music-list"></ol>
</div>

<script src="/assets/custom/js/albuns/create-album-content.js"></script>