<link href="/public_html/assets/custom/css/albuns/evermore.css" rel="stylesheet">

<div id="evermore-album">
    <h1 class="title title-album my-3">Evermore</h1>

    <p>Evermore é o nono álbum de estúdio da cantora e compositora norte-americana Taylor Swift. Lançado em 2020 como um acompanhamento surpresa de seu álbum anterior Folklore, Evermore continua o som introspectivo e indie-folk de seu antecessor. O álbum leva os ouvintes a uma jornada através de contos etéreos, introspecção e exploração emocional.</p>

    <h2 class="title sub-title my-4">Detalhes</h2>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Evermore apresenta colaborações com artistas como Bon Iver, HAIM e The National, adicionando texturas e camadas únicas ao som atmosférico do álbum.</li>
        <li class="list-group-item">As letras introspectivas e poéticas do álbum exploram temas de amor, perda e crescimento pessoal, convidando os ouvintes a refletir sobre suas próprias experiências.</li>
        <li class="list-group-item">Evermore mostra a evolução de Taylor Swift como compositora, com suas histórias intricadas e paisagens sonoras criando uma experiência de audição cativante e imersiva.</li>
        <li class="list-group-item">A produção do álbum mescla influências do folk, alternativo e indie-pop, criando uma paleta sonora coesa e encantadora.</li>
        <li class="list-group-item">Evermore recebeu aclamação da crítica, com elogios pela profundidade lírica, produção atmosférica e crescimento artístico de Taylor Swift.</li>
    </ul>

    <h2 class="title sub-title my-4">Curiosidades</h2>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Evermore foi gravado durante a pandemia de COVID-19, com Taylor Swift aproveitando o ambiente tranquilo e isolado para se concentrar em sua composição e processo criativo.</li>
        <li class="list-group-item">O lançamento surpresa de Evermore encantou os fãs, que ficaram emocionados em receber outro álbum introspectivo e atmosférico de Taylor Swift tão rapidamente após Folklore.</li>
        <li class="list-group-item">Evermore recebeu várias indicações ao Grammy, incluindo Álbum do Ano, solidificando ainda mais a posição de Taylor Swift como uma das artistas mais respeitadas e influentes de sua geração.</li>
        <li class="list-group-item">As paisagens sonoras introspectivas e etéreas do álbum criam uma atmosfera onírica, permitindo que os ouvintes mergulhem nas histórias e emoções transmitidas por Taylor Swift.</li>
        <li class="list-group-item">Com Evermore, Taylor Swift continua a expandir os limites de sua expressão artística, cativando o público com sua habilidade de contar histórias e seu talento musical.</li>
    </ul>
    
    <h2 class="title sub-title my-4">Faixas do álbum</h2>

    <ol class="list-group music-list"></ol>
</div>

<script src="/public_html/assets/custom/js/albuns/create-album-content.js"></script>
