<link href="/assets/custom/css/albuns/fearless.css" rel="stylesheet">

<div id="fearless-album">
    <h1 class="title title-album my-3">Fearless</h1>

    <p>Fearless é o segundo álbum de estúdio da cantora e compositora norte-americana Taylor Swift. Lançado em 2008, este álbum marcou um marco significativo na carreira de Swift, à medida que ela transitava do country para um som country-pop com influências pop. Fearless explora temas de amor jovem, autodescoberta e a experiência de lidar com altos e baixos nos relacionamentos. Com suas letras sinceras, melodias cativantes e narrativas relativas, Fearless ressoou com os fãs ao redor do mundo e solidificou o status de Taylor Swift como uma estrela em ascensão.</p>

    <h2 class="title sub-title my-4">Detalhes</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Fearless apresenta uma mistura de sons country-pop e pop-rock, mostrando o crescimento de Swift como artista e sua habilidade em criar hooks memoráveis.</li>
        <li class="list-group-item">O álbum inclui os hits icônicos "Love Story", "You Belong with Me" e "Fearless", que se tornaram hinos de uma geração.</li>
        <li class="list-group-item">As habilidades de composição de Swift brilham em Fearless, enquanto ela conta histórias que capturam a essência dos anos de adolescência e primeiros amores, ao mesmo tempo em que aborda temas universais de vulnerabilidade e resiliência.</li>
        <li class="list-group-item">Fearless recebeu aclamação da crítica, vencendo o Grammy de Álbum do Ano e tornando Taylor Swift a artista mais jovem na época a receber essa prestigiosa honra.</li>
        <li class="list-group-item">O sucesso do álbum levou a uma extensa turnê mundial, onde Swift se apresentou em arenas lotadas e cativou o público com sua presença de palco carismática e performances emocionantes.</li>
    </ul>
    <h2 class="title sub-title my-4">Curiosidades</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Fearless foi o álbum mais vendido de 2009 nos Estados Unidos e vendeu mais de 7 milhões de cópias em todo o mundo.</li>
        <li class="list-group-item">O álbum gerou diversos singles de sucesso e recebeu inúmeros prêmios, solidificando o status de Taylor Swift como uma superestrela global.</li>
        <li class="list-group-item">Fearless destacou a habilidade de contar histórias de Swift, pois ela se inspirou em experiências pessoais e as transformou em canções relatas que ressoaram com ouvintes de todas as idades.</li>
        <li class="list-group-item">Em 2021, Taylor Swift lançou "Fearless (Taylor's Version)", uma versão regravada do álbum, retomando a propriedade de seu catálogo inicial.</li>
        <li class="list-group-item">No "Taylor's Songbook", você encontrará acordes completos, letras, tabs e tutoriais de todas as músicas de Fearless. Explore as melodias cativantes e letras sinceras deste álbum atemporal enquanto aprende a tocar e experimenta a magia da era Fearless de Taylor Swift.</li>
    </ul>

    <h2 class="title sub-title my-4">Faixas do Álbum</h2>

    <ol class="list-group music-list"></ol>
</div>

<script src="/assets/custom/js/albuns/create-album-content.js"></script>
