<link href="assets/custom/css/albuns/folklore.css" rel="stylesheet">

<div id="folklore-album">
    <h1 class="title title-album my-3">Folklore</h1>

    <p>Folklore é o oitavo álbum de estúdio da cantora e compositora norte-americana Taylor Swift. Lançado em 2020, este álbum marcou uma mudança em relação ao som pop habitual de Swift, adentrando uma direção mais indie-folk e alternativa. Folklore apresenta uma coleção de canções introspectivas e narrativas, com melodias etéreas e letras poéticas que transportam os ouvintes para um mundo de introspecção e imaginação.</p>

    <h2 class="title sub-title my-4">Detalhes</h2>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Folklore destaca a habilidade de contar histórias de Swift, à medida que ela tece narrativas intricadas e explora temas de amor, perda e escapismo.</li>
        <li class="list-group-item">O álbum conta com colaborações de músicos como Aaron Dessner, da banda The National, e Bon Iver, acrescentando profundidade e textura ao som geral.</li>
        <li class="list-group-item">Com faixas como "Cardigan", "Exile" e "August", Folklore recebeu aclamação da crítica por suas letras poéticas, produção atmosférica e a maturidade na composição de Swift.</li>
        <li class="list-group-item">O lançamento surpresa de Folklore durante a pandemia global cativou fãs e críticos de música, fornecendo consolo e uma fuga musical em tempos incertos.</li>
        <li class="list-group-item">Folklore conquistou diversos prêmios, incluindo Álbum do Ano no Grammy Awards, solidificando seu lugar como uma conquista artística significativa na discografia de Taylor Swift.</li>
    </ul>
    
    <h2 class="title sub-title my-4">Curiosidades</h2>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Folklore foi amplamente gravado em isolamento, com Swift e seus colaboradores trabalhando remotamente devido à pandemia de COVID-19.</li>
        <li class="list-group-item">A natureza introspectiva e poética do álbum ressoou com os ouvintes, gerando uma forte conexão emocional e aclamação crítica.</li>
        <li class="list-group-item">A abordagem introspectiva de Folklore marcou uma mudança em relação aos álbuns anteriores de Swift, mostrando seu crescimento como artista e expandindo seus horizontes musicais.</li>
        <li class="list-group-item">A produção simplificada e a atmosfera íntima de Folklore criaram uma experiência sonora única, convidando os ouvintes a um mundo de contemplação e narrativas.</li>
        <li class="list-group-item">Fãs e críticos de música elogiaram Folklore por sua coesão, visão artística e a vulnerabilidade presente na composição de Swift.</li>
    </ul>

    <h2 class="title sub-title my-4">Faixas do álbum</h2>

    <ol class="list-group music-list"></ol>
</div>

<script src="assets/custom/js/albuns/create-album-content.js"></script>
