<link href="/assets/custom/css/albuns/midnights.css" rel="stylesheet">

<div id="midnights-album">
    <h1 class="title title-album my-3">Midnights</h1>

    <p>Midnights é o décimo álbum de estúdio de Taylor Swift, lançado em 2022. O álbum explora temas como ansiedade, insegurança, insônia e autoconfiança, apresentando um som chill out, electropop, dream pop e bedroom pop. Foi um sucesso comercial e quebrou recordes em escala global.</p>

    <h2 class="title sub-title my-4">Detalhes</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">"Midnights" é o décimo álbum de estúdio da cantora e compositora Taylor Swift, lançado em 21 de outubro de 2022, pela Republic Records.</li>
        <li class="list-group-item">Foi o primeiro lançamento inédito de Swift após seus álbuns de folk alternativo "Folklore" e "Evermore" em 2020.</li>
        <li class="list-group-item">O álbum é conceitual e explora reflexões noturnas inspiradas pelas "noites de insônia" da artista, abordando temas como ansiedade, insegurança, autocrítica, autoconsciência, insônia e autoconfiança.</li>
        <li class="list-group-item">Musicalmente, "Midnights" apresenta uma abordagem alternativa ao som synth-pop dos projetos pop anteriores de Swift, explorando estilos como chill out, electropop, dream pop e bedroom pop.</li>
        <li class="list-group-item">Jack Antonoff, colaborador de longa data de Swift, trabalhou na produção do álbum, e a cantora co-escreveu a maioria das faixas.</li>
        <li class="list-group-item">A edição padrão do álbum inclui 13 faixas, com participação especial de Lana Del Rey na música "Snow on the Beach".</li>
        <li class="list-group-item">Outras edições especiais, como a "Til Dawn", apresentam faixas bônus e remixes, além da edição exclusiva para streaming, a "Midnights (3am Edition)", com sete faixas bônus adicionais.</li>
    </ul>

    <h2 class="title sub-title my-4">Curiosidades</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">O álbum foi anunciado por Taylor Swift durante o MTV Video Music Awards de 2022.</li>
        <li class="list-group-item">"Midnights" quebrou vários recordes em escala global, conquistando o recorde de maior número de reproduções em um único dia para um álbum no Spotify e alcançando o topo das paradas em 28 territórios.</li>
        <li class="list-group-item">Nos Estados Unidos, o álbum estreou com mais de 1,57 milhão de cópias vendidas e alcançou o topo da Billboard 200, tornando-se o 11º número um de Swift nessa parada.</li>
        <li class="list-group-item">"Anti-Hero", o primeiro single do álbum, se tornou o nono número um de Swift nos Estados Unidos e alcançou o topo das paradas em 14 outros territórios.</li>
        <li class="list-group-item">Outras faixas do álbum, como "Lavender Haze", "Karma" e "Snow on the Beach" com participação de Lana Del Rey, também obtiveram ótimas posições nas paradas internacionais.</li>
        <li class="list-group-item">A turnê de promoção do álbum, intitulada "The Eras Tour", teve uma demanda tão alta que a pré-venda dos ingressos enfrentou problemas devido ao grande volume de acessos.</li>
        <li class="list-group-item">A capa do álbum foi inspirada em antigas capas de LPs com as músicas listadas, e as contra-capas das edições alternativas formam um relógio funcional quando montadas juntas.</li>
        <li class="list-group-item">"Midnights" foi elogiado pela crítica, que destacou a produção contida, as letras sinceras e os diversos estilos musicais explorados por Swift. O álbum foi considerado uma mistura da carreira da cantora, incorporando elementos de seus trabalhos anteriores.</li>
        <li class="list-group-item">Swift lançou uma série no TikTok chamada "Midnights Mayhem with Me", revelando a lista de faixas do álbum em uma ordem aleatória, gerando expectativa e suspense entre os fãs.</li>
        <li class="list-group-item">O videoclipe de "Bejeweled" mostra uma versão alternativa do conto de fadas Cinderela, enquanto o clipe de "Lavender Haze" estreou com participação especial de Lana Del Rey.</li>
        <li class="list-group-item">O álbum foi descrito como uma exploração da autoconfiança, autocrítica, insegurança e ansiedade de Swift, sendo considerado um dos seus trabalhos mais sinceros até então.</li>
    </ul>

    <p>Midnights marcou a continuação do sucesso da carreira de Taylor Swift, consolidando seu status como uma das maiores artistas da música pop contemporânea. O álbum apresenta um som único e introspectivo, com letras sinceras e cativantes, refletindo a evolução artística da cantora ao longo dos anos. Sua abordagem inovadora e seu impacto cultural demonstram por que Swift continua sendo uma figura influente e respeitada na indústria musical.</p>

    <h2 class="title sub-title my-4">Faixas do álbum</h2>

    <ol class="list-group music-list"></ol>
</div>

<script src="/assets/custom/js/albuns/create-album-content.js"></script>
