<link href="assets/custom/css/albuns/midnights.css" rel="stylesheet">

<div id="midnights-album">
    <h1 class="title title-album my-3">Midnights</h1>

    <!-- <p>Midnights é o álbum de estreia do cantor e compositor Raul. Lançado em 2023, este álbum apresenta o estilo musical único de Raul e suas composições introspectivas. Midnights leva os ouvintes a uma jornada através de temas como amor, autodescoberta e crescimento pessoal, com suas paisagens sonoras atmosféricas e letras sinceras.</p>

    <h2 class="title sub-title my-4">Detalhes</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Midnights apresenta uma mistura de gêneros, incluindo indie pop, folk e alternativo, criando um som cativante e melódico.</li>
        <li class="list-group-item">O álbum mostra os vocais soulful de Raul e sua habilidade de transmitir emoções genuínas por meio de suas performances sinceras.</li>
        <li class="list-group-item">Midnights incorpora elementos de narrativa, com cada música pintando um quadro vívido e imergindo os ouvintes no mundo introspectivo de Raul.</li>
        <li class="list-group-item">A produção do álbum é rica e atmosférica, criando uma paisagem sonora sonhadora que complementa perfeitamente as letras introspectivas de Raul.</li>
        <li class="list-group-item">Midnights tem recebido aclamação da crítica por suas melodias cativantes, letras sinceras e a habilidade de Raul como compositor e intérprete.</li>
    </ul>

    <h2 class="title sub-title my-4">Curiosidades</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Midnights representa a jornada musical de Raul e sua dedicação em criar um álbum autêntico e emocionalmente marcante.</li>
        <li class="list-group-item">O título do álbum, Midnights, reflete a natureza introspectiva e contemplativa das músicas, que frequentemente exploram os aspectos mais profundos da vida e dos relacionamentos.</li>
        <li class="list-group-item">A composição de Raul é inspirada por experiências pessoais, relacionamentos e pela beleza dos momentos cotidianos, oferecendo uma experiência auditiva autêntica e sincera.</li>
        <li class="list-group-item">Midnights é um testemunho do talento de Raul como contador de histórias, tecendo narrativas poéticas e letras provocativas ao longo do álbum.</li>
        <li class="list-group-item">Com Midnights, Raul convida os ouvintes a embarcar em uma jornada musical que evoca uma sensação de nostalgia, reflexão e esperança.</li>
    </ul> -->

    <h2 class="title sub-title my-4">Faixas do álbum</h2>

    <ol class="list-group music-list"></ol>
</div>

<script src="assets/custom/js/albuns/create-album-content.js"></script>
