<link href="/assets/custom/css/albuns/speak-now.css" rel="stylesheet">

<div id="speak-now-album">
    <h1 class="title title-album my-3">Speak Now</h1>

    <p>Speak Now é o terceiro álbum de estúdio da cantora e compositora norte-americana Taylor Swift. Lançado em 2010,
        este álbum mostra o crescimento de Swift como compositora e intérprete, uma vez que ela assumiu o controle
        criativo completo e escreveu todas as músicas sozinha. Speak Now combina elementos de country, pop e rock,
        oferecendo uma coleção de faixas sinceras e introspectivas.</p>

    <h2 class="title sub-title my-4">Detalhes</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Speak Now apresenta o estilo característico de contar histórias de Swift, com cada música capturando um momento ou emoção específica com riqueza de detalhes.</li>
        <li class="list-group-item">O álbum inclui singles de sucesso como "Mine", "Back to December" e "Mean", que mostram a habilidade de Swift em escrevermelodias cativantes e letras comoventes.</li>
        <li class="list-group-item">A composição de Swift em Speak Now explora temas de amor, desilusão amorosa e crescimento pessoal, inspirados em suas próprias experiências e observações.</li>
        <li class="list-group-item">A produção do álbum mescla instrumentação acústica com arranjos envolventes, criando um som rico e dinâmico.</li>
        <li class="list-group-item">Speak Now recebeu aclamação da crítica por sua composição, produção e a confiança de Swift em sua entrega, solidificando seu status como uma estrela em ascensão na indústria da música.</li>
    </ul>

    <h2 class="title sub-title my-4">Curiosidades</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Speak Now foi inspirado nas experiências pessoais de Swift e histórias da vida real, com cada música retratando momentos e relacionamentos específicos.</li>
        <li class="list-group-item">O título do álbum, Speak Now, reflete o desejo de Swift de ter uma voz e se expressar livremente por meio de sua música.</li>
        <li class="list-group-item">Speak Now estreou no topo da parada Billboard 200, tornando Swift a artista mais jovem na época a conquistar três álbuns em primeiro lugar.</li>
        <li class="list-group-item">A Speak Now World Tour, que seguiu o lançamento do álbum, mostrou o crescimento de Swift como artista ao vivo, apresentando produções de palco elaboradas e performances cativantes.</li>
        <li class="list-group-item">Speak Now é considerado um álbum crucial na carreira de Swift, solidificando seu status como uma talentosa compositora e estabelecendo-a como uma força a ser reconhecida na indústria da música.</li>
    </ul>


    <h2 class="title sub-title my-4">Faixas do álbum</h2>

    <ol class="list-group music-list"></ol>
</div>

<script src="/assets/custom/js/albuns/create-album-content.js"></script>