<link href="/public_html/assets/custom/css/albuns/taylor-swift.css" rel="stylesheet">

<div id="taylor-swift-album">
    <h1 class="title title-album my-3">Taylor Swift</h1>

    <p>Taylor Swift é o álbum de estreia auto-intitulado da cantora e compositora norte-americana Taylor Swift. Lançado em 2006, este álbum apresenta o distintivo som country-pop de Swift e marcou o início de sua bem-sucedida carreira musical. Taylor Swift traz uma coleção de músicas sinceras que exploram temas de amor, desilusão amorosa e autodescoberta.</p>

    <h2 class="title sub-title my-4">Detalhes</h2>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Taylor Swift mescla elementos de country, pop e folk, mostrando o talento de Swift como compositora e sua habilidade de criar melodias cativantes e envolventes.</li>
        <li class="list-group-item">O álbum inclui sucessos como "Tim McGraw", "Teardrops on My Guitar" e "Our Song", que conquistaram o público e apresentaram Swift a uma audiência mais ampla.</li>
        <li class="list-group-item">As letras de Taylor Swift oferecem um vislumbre das experiências pessoais e emoções de Swift, permitindo que os ouvintes se conectem com sua narrativa honesta e introspectiva.</li>
        <li class="list-group-item">A produção do álbum captura a essência da energia jovem de Swift e destaca sua entrega vocal autêntica e genuína.</li>
        <li class="list-group-item">Taylor Swift recebeu críticas positivas da mídia, que elogiaram as habilidades de composição de Swift e previram um futuro brilhante para a jovem artista.</li>
    </ul>
    
    <h2 class="title sub-title my-4">Curiosidades</h2>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Taylor Swift se tornou a artista mais jovem a escrever e interpretar uma música número um na parada Billboard Hot Country Songs com seu single de estreia, "Our Song".</li>
        <li class="list-group-item">O sucesso de Taylor Swift levou a múltiplas indicações a prêmios e lançou as bases para os álbuns subsequentes de Swift e sua fama internacional.</li>
        <li class="list-group-item">As letras nostálgicas e identificáveis de Taylor Swift ressoaram com os jovens ouvintes, estabelecendo Swift como uma voz de uma geração.</li>
        <li class="list-group-item">A autenticidade e genuinidade de Taylor Swift atraíram uma base de fãs dedicada, conhecida como "Swifties", que continuam a apoiá-la ao longo de sua carreira.</li>
        <li class="list-group-item">Com Taylor Swift, o mundo foi apresentado a uma talentosa jovem artista cuja habilidade de contar histórias e autenticidade moldariam o cenário da música pop e country.</li>
    </ul>

    <h2 class="title sub-title my-4">Faixas do álbum</h2>

    <ol class="list-group music-list"></ol>
</div>

<script src="/public_html/assets/custom/js/albuns/create-album-content.js"></script>
