<pre>
[Verse 1]

<b>D</b>
There's something 'bout the way
<b>A</b>                                <b>Em</b>
The street looks when it's just rained
                        <b>G</b>
There's a glow off the pavement
                    <b>D</b>
You walk me to the car
                    <b>A</b>                
And you know I wanna ask you to dance 
    <b>Em</b>
right there
                        <b>G</b>
In the middle of the parking lot

[Repete Intro]

<b>D</b>   <b>A</b>
Yeah
<b>Em</b>   <b>G</b>
Oh Yeah

[Verse 2]

<b>D</b>
We're drivin' down the road
<b>A</b>                <b>Em</b>
I wonder if you know
                    <b>G</b>
I'm trying so hard not to get caught up 
now
<b>D</b>
But you're just so cool
<b>A</b>                           <b>Em</b>
Run your hands through your hair
                <b>G</b>        <b>A</b>
Absent mindedly making me want you

[Chorus]

<b>D</b>                     <b>A</b>                   
And I don't know how it gets better than 
<b>Em</b>
this
                                <b>G</b>          
You take my hand and drag me head first, 
<b>A</b>
fearless
<b>D</b>                     <b>A</b>              
And I don't know why but with you I'd 
<b>Em</b>
dance
                    <b>G</b>           <b>A</b>
In a storm in my best dress, fearless

[Repete Intro]

[Verse 3]

<b>D</b>                   <b>A</b>                  <b>Em</b>
So baby drive slow till we run out of road
                    <b>G</b>
In this one horse town
                    <b>D</b>                      
I wanna stay right here in this passenger 
<b>A</b>
seat
                    <b>Em</b>
you put your eyes on me
                    <b>G</b>             <b>A</b>
In this moment now capture it remember it

[Chorus]
<b>D</b>                     <b>A</b>                   
And I don't know how it gets better than 
<b>Em</b>
this
                                <b>G</b>          
You take my hand and drag me head first, 
<b>A</b>
fearless
<b>D</b>                     <b>A</b> <b>Em</b>             
And I don't know why but with you I'd dance
                    <b>G</b>           <b>A</b>
In a storm in my best dress, fearless

[Bridge]

<b>C9</b>                         <b>D</b>
Well, you stood there with me in the 
doorway
    <b>Em</b>               <b>D</b>       <b>G</b>        <b>A</b>
my hands shake, I'm not usually this way
    <b>C9</b>                         <b>D</b>
But you pull me in and I'm a little more 
brave
        <b>Em</b>                 <b>D</b>              
It's a first kiss, it's flawless, really 
<b>G</b>
something
<b>A</b>
It's fearless

[Repete Intro]

<b>D</b>   <b>A</b>   <b>Em</b>      <b>G</b>
        Ohh..  Yeah

[Chorus]

<b>D</b>                     <b>A</b>                   
And I don't know how it gets better than 
<b>Em</b>
this
                                <b>G</b>          
You take my hand and drag me head first, 
<b>A</b>
fearless
<b>D</b>                     <b>A</b>              
And I don't know why but with you I'd 
<b>Em</b>
dance
                    <b>G</b>           <b>A</b>
In a storm in my best dress, fearless

[Chorus]

<b>D</b>                     <b>A</b>                   
And I don't know how it gets better than 
<b>Em</b>
this
                                <b>G</b>          
You take my hand and drag me head first, 
<b>A</b>
fearless
<b>D</b>                     <b>A</b>              
And I don't know why but with you I'd 
<b>Em</b>
dance
                    <b>G</b>           <b>A</b>
In a storm in my best dress, fearless

[Outro]

<b>D</b>     <b>A</b>   <b>E</b>    <b>G</b>
Oh.. oh, yeah, yeah
</pre>
