:root {
    --font-taylor: 'Cinzel', serif;
    --color-taylor-swift: #8caa87;
    --color-fearless: #cca965;
    --color-lover: #df6395;
    --color-red: #c01838;
    --color-speak-now: #5b225b;
    --color-1989: #667787;
    --color-reputation: #c0b297;
    --color-folklore: #a5a5a5;
    --color-evermore: #cab193;
    --color-midnights: #49567d;
    --linear-gradient-midnights: linear-gradient(90deg, rgba(73,86,125,1) 0%, rgba(132,170,189,1) 50%);
    --webkit-linear-gradient-midnights: -webkit-linear-gradient(0deg, rgba(73,86,125,1) 0%, rgba(132,170,189,1) 50%);
    --color-whatsapp: #73c591;
    --color-youtube: #f00;
    --font-taylor-swift: 'Sacramento', cursive;
    --font-fearless: 'Montserrat', sans-serif;
    --font-speak-now: 'Rochester', cursive;
    --font-red: 'Anton', sans-serif;
    --font-1989: 'Permanent Marker', cursive;
    --font-reputation: 'UnifrakturMaguntia', cursive;
    --font-lover: 'Satisfy', cursive;
    --font-folklore: 'IM Fell DW Pica', serif;
    --font-evermore: 'IM Fell DW Pica', serif;
    --font-midnights: 'Roboto', sans-serif;
}

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */
/* @import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap'; */

/* @font-face {
    font-family: Poppins;
    src: url('fonts/Poppins/Poppins-Light.ttf')
}


@font-face {
    font-family: Anton;
    src: url('fonts/Anton/Anton-Regular.ttf')
}

@font-face {
    font-family: Cinzel;
    src: url('fonts/Cinzel/Cinzel-VariableFont_wght.ttf')
}

@font-face {
    font-family: IM Fell DW Pica;
    src: url('fonts/IM_Fell_DW_Pica/IMFellDWPica-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: IM Fell DW Pica;
    src: url('fonts/IM_Fell_DW_Pica/IMFellDWPica-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Permanent Marker;
    src: url('fonts/Permanent_Marker/PermanentMarker-Regular.ttf')
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto/Roboto-Medium.ttf')
}

@font-face {
    font-family: Rochester;
    src: url('fonts/Rochester/Rochester-Regular.ttf')
}

@font-face {
    font-family: Sacramento;
    src: url('fonts/Sacramento/Sacramento-Regular.ttf')
}

@font-face {
    font-family: Satisfy;
    src: url('fonts/Satisfy/Satisfy-Regular.ttf')
}

@font-face {
    font-family: UnifrakturMaguntia;
    src: url('fonts/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf')
} */

* {
    scroll-behavior: smooth !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

header {
    background-image: linear-gradient(to right, #a0c3a2, #edbd7a, #d0b4d4, #6c333b, #abe2f5, #6d6d6d, #f7a8c8, #c9c5bf, #b6a083);
}

.z-index {
    z-index: 9999;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.content {
    width: 100%;
    padding: 20px;
    height: 100%;
    transition: all 0.3s;
    border-radius: 10px;
    padding-bottom: 100px;
}

#shortcuts {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #FFF;
    padding-top: 12px;
}

#shortcuts .btn {
    color: #6c757d!important;
    position: inherit;
    width: auto;
    border: 1px dashed #DDD;
    transition: all .1s ease 0s;
    margin-bottom: 6px;
    height: 39px;
}

#shortcuts #btn-home {
    display: none;
}

#shortcuts .dropdown-toggle {
    opacity: 1;
}

.CTAs {
    cursor: pointer;
}

#content, #cipher-wrapper {
    scroll-behavior: smooth;    /* <----- THE SECRET ---- */
}

#contribution-info .title, #content .title {
    font-size: 2.25rem;
    font-weight: 800;
}

.strumming {
    text-align-last: justify;
}

.loading {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 420px;
}

/* Scrollbar */

/* width */
#page-content-wrapper ::-webkit-scrollbar {
    width: 6px !important;
}

/* Track */
#page-content-wrapper ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
#page-content-wrapper ::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
#page-content-wrapper ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Toggle Styles */

#wrapper {
    position:   fixed;
    top:        10%;
    bottom:     1%;
    left:       0;
    right:      0;
    gap: 12px;
}

#sidebar {
    padding-left: 0;
    -webkit-transition: all s ease;
    -moz-transition: all s ease;
    -o-transition: all s ease;
    transition: all s ease;
}

#sidebar.toggled {
    margin-left: -250px !important;
}

#page-content-wrapper {
    width: calc(100% - 260px);
}

#page-content-wrapper .content {
    padding-top: 0;
}

#page-content-wrapper nav {
    position: fixed;
    background-color: #7343435c !important;
    color: #FFF;
}

.scrolling {
    overflow: auto;
}

iframe {
    width: 100%;
}

header img {
    width: 100%;
}

/* Author */

#author .title {
    font-size: 2.25rem;
    font-weight: 800;
}

#author b {
    color: var(--color-red);
}

#author i.bi-whatsapp, a.whatsapp {
    color: var(--color-whatsapp);
    font-weight: 500;
}

#author i.bi-instagram, a.instagram {
    color: var(--color-lover);
    font-weight: 500;
}

#author i.bi-github, a.github {
    color: var(--color-1989);
    font-weight: 500;
}

/* BACKGROUND-COLOR */

.bg-taylor-swift {
    background-color: var(--color-taylor-swift) !important;
}

.bg-fearless {
    background-color: var(--color-fearless) !important;
}

.bg-lover {
    background-color: var(--color-lover) !important;
}

.bg-red {
    background-color: var(--color-red) !important;
}

.bg-speak {
    background-color: var(--color-speak) !important;
}

.bg-1989 {
    background-color: var(--color-1989) !important;
}

.bg-reputation {
    background-color: var(--color-reputation) !important;
}

.bg-folklore {
    background-color: var(--color-folklore) !important;
}

.bg-evermore {
    background-color: var(--color-evermore) !important;
}

.bg-midnights {
    background-color: var(--color-midnights) !important;
}

/* COLOR */

.color-taylor-swift {
    color: var(--color-taylor-swift) !important;
}

.color-fearless {
    color: var(--color-fearless) !important;
}

.color-lover {
    color: var(--color-lover) !important;
}

.color-red {
    color: var(--color-red) !important;
}

.color-speak-now {
    color: var(--color-speak-now) !important;
}

.color-1989 {
    color: var(--color-1989) !important;
}

.color-reputation {
    color: var(--color-reputation) !important;
}

.color-folklore {
    color: var(--color-folklore) !important;
}

.color-evermore {
    color: var(--color-evermore) !important;
}

.color-midnights {
    color: var(--color-midnights) !important;
}

/* BORDER */

.border-taylor-swift {
    border: 1px solid var(--color-taylor-swift);
}

.border-fearless {
    border: 1px solid var(--color-fearless);
}

.border-lover {
    border: 1px solid var(--color-lover);
}

.border-red {
    border: 1px solid var(--color-red);
}

.border-speak-now {
    border: 1px solid var(--color-speak-now);
}

.border-1989 {
    border: 1px solid var(--color-1989);
}

.border-reputation {
    border: 1px solid var(--color-reputation);
}

.border-folklore {
    border: 1px solid var(--color-folklore);
}

.border-evermore {
    border: 1px solid var(--color-evermore);
}

.border-midnights {
    border: 1px solid var(--color-midnights);
}

/* FONT */

.font-taylor-swift-base {
    font-family: var(--font-taylor);
    font-weight: 400;
}

.font-taylor-swift {
    font-family: var(--font-taylor-swift);
    font-weight: 400;
    color: var(--color-taylor-swift);
}

.font-fearless {
    font-family: var(--font-fearless);
    color: var(--color-fearless);
    font-weight: 400;
}

.font-speak-now {
    font-family: var(--font-speak-now);
    color: var(--color-speak-now);
}

.font-red {
    font-family: var(--font-red);
    color: var(--color-red);
}

.font-1989 {
    font-family: var(--font-1989);
    color: var(--color-color-1989);
}

.font-reputation {
    font-family: var(--font-reputation);
    color: var(--color-reputation);
}

.font-lover {
    font-family: var(--font-lover);
    color: var(--color-lover);
}

.font-folklore {
    font-family: var(--font-folklore);
    color: var(--color-folklore);
}

.font-evermore {
    font-family: var(--font-evermore);
    color: var(--color-evermore);
}

.font-midnights {
    font-family: var(--font-midnights);
    color: var(--color-midnights);
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}

pre {
    display: block;
    font-family: monospace;
    margin: 0;
    white-space: break-spaces;
}

pre[type="only-lyrics"] {
    line-height: 2rem;
}

article {
    margin: 0 4rem;
}

.cipher {
    font-family: monospace;
    display: block;
}

.title-part-cipher {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.tooltip-inner {
    max-width: 300px;
}

.tab {
    white-space: break-spaces;
}

.tab .text-muted, .progression-type, .strum {
    color: #cfcfcf !important;
}

.progression-table td {
    font-weight: bold;
    color: #7f7f7f;
}

.tabs {
    white-space: pre-line;
    padding: 20px;
}

.tabs .tab:not(:last-of-type) {
    padding-bottom: 30px !important;
}

#chords {
    justify-content: center!important;
    display: none;
    position: sticky !important;
    top: 65px;
    background-color: #FFF;
    opacity: 1;
    z-index: 998;
}

#lyrics {
    display: none;
}

#cipher-header span {
    width: 100%;
    display: block;
}

#cipher-header iframe {
    margin-top: 5px;
}

#cipher-columns {
    display: none;
}

#cipher-columns pre {
    columns: 3;
    column-count: 3;
    line-height: normal;
}

.cipher > span {    
    display: block;
    margin-bottom: 5px;
}

.blocking {
    color: #8c52fe !important;
}

.chordChange, .highlight, #cipher-content b.highlight i {
    color: #54bd36 !important;
}

.repeatChord {
    margin-left: 16px;
    display: flex;
    align-items: center;
    border-left: 2px solid var(--color-red);
    padding-left: 6px;
    color: var(--color-red);
    font-weight: bold;
    font-size: 14px;
}

i[note] {
    position: relative !important;
}

i[note]::after {
    content: attr(note);
    position: absolute;
    left: 1px;
    bottom: 22px;
    color: #54bd36;
    font-size: 14px;
}

.cipher-tone {
    margin: 5px 0 5px;
}

.song-capo {
    margin-bottom: 5px;
}

.cipher_cnt > span {
    display: block;
    margin-bottom: 5px;
}

#cipher-content span.text-white b {
    color: #FFF !important;
}

#palm-mute-alert {
    width: 100%;
    border: 1px dashed #ddd;
    color: #212529;
}

.palm-mute {
    color: #f07701 !important;
}

#album {
    padding: 1rem;
}

.title-album {
    font-size: 78px !important;
}

.sub-title {
    font-size: 26px !important;
}

.music-list ol {
    margin-top: 20px !important;
}

.music-list li {
    height: 44px;
    cursor: pointer;
    border: none;
}

.music-list li:hover {
    border-radius: 8px;
    background: #f5f5f5;
}

.music-list li .number {
    font-size: 20px;
    color: #e0e0e0;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
}

.dropdown-menu.show {
    /* padding: 0; */
    /* top: 2px !important; */
}

.dropdown-menu li {
    padding: 2px 0;
    cursor: pointer;
}

.dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(180deg);
}

/* Mini player */

#mini-player {
    display: none;
}

.player--min, .player--close {
    position: fixed;
    bottom: 98px;
    right: 10px;
    top: inherit;
    margin-right: 0;
    z-index: 800;
}

.player--min .player-closePlayerControl {
    display: flex;
}

.player--min .player-miniPlayerCloseButton {
    display: block;
    font-family: monospace;
    padding: 0 8px;
}

.player-closePlayerControl {
    position: absolute;
    top: -35px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,opacity .3s linear;
    height: 35px;
    z-index: 0;
    display: none;
    justify-content: flex-end;
}

.player-miniPlayerCloseButton {
    position: relative;
    height: 30px;
    display: none;
    padding: 0 30px 0 10px;
    background: #212121;
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
}

.player--music:hover .player-closePlayerControl {
    visibility: visible;
    opacity: 1;
}

#summary {
    font-size: 16px;
    line-height: 1.5;
}

#summary .collapse:not(.show) {
    height: 100px !important;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}

#summary .collapsing {
    min-height: 100px !important;
}

#summary a {
    background-color: #FFF;
}

#summary a.action.collapsed:after  {
    font-family: "bootstrap-icons";
    font-weight: 900;
    content: "\F282 ";
    background-color: #FFF;
    color: #212121;
}

#summary a.action:not(.collapsed):after {
    font-family: "bootstrap-icons";
    font-weight: 900;
    content: "\F286";
    background-color: #FFF;
    color: #212121;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path%20fill-rule='evenodd'%20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'/></svg>");
    transform: rotate(-180deg);
}

.accordion-body {
    text-align: justify;
}

#collapseSummary {
    max-width: 800px;
    margin: 0 auto;
}

.accordion-button:not(.collapsed) {
    color: #FFF;
    background-color: var(--color-midnights);
}

.btn-whatsapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 18px;
    border-radius: 100px;
    color: #FFF;
    background-color: var(--color-whatsapp);
    border: 2px solid var(--color-whatsapp);
    gap: 5px;
}

.btn-whatsapp:hover {
    color: var(--color-whatsapp);
    background-color: #FFF;
    border: 1px solid;
}

.btn-youtube {
    background-color: var(--color-youtube);
    color: #FFF;
    gap: 5px;
}

.btn-youtube:hover {
    background-color: #FFF !important;
    color: var(--color-youtube);
    border: 1px solid var(--color-youtube);
}

.color-youtube {
    color: var(--color-youtube);
}

.btn-whatsapp i {
    font-size: 22px;
}

.initial {
    position: inherit !important;
}

#google-form {
    height: 100%;
}

[data-adtest="on"] {
    background-color: rgb(200, 200, 200);
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

@media(max-width: 992px) {
    #navbarSupportedContent {
        padding-top: 1rem !important;
    }

    #toolbar {
        position: fixed !important;
        bottom: 0px !important;
        width: 100%;
        right: 0;
    }

    .column-action {
        display: none !important;
    }
}

@media(max-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    #wrapper {
        padding: 0;
        width: 100%;
        gap: 0;
        bottom: 0;
        top: 8%;
    }

    #page-content-wrapper {
        padding: 0;
        width: 100% !important;
        margin: 0;
    }

    .btn-whatsapp {
        min-width: auto !important;
    }

    .scrolling {
        margin: 0 !important;
    }

    #close-miniplayer {
        visibility: visible;
        opacity: 1;
    }

    #sidebar.toggled {
        margin-left: 0px !important;
        display: block;
        min-width: 100%;
    }

    .tabs,
    .progressions {
        font-size: 10px;
    }
    
    pre[type="lyrics"] {
        font-size: 12px;
    }

    .btn-whatsapp {
        zoom: 85%;
    }
}


@media(max-width: 450px) {
    #wrapper {
        top: 6%;
    }

    .btn-whatsapp {
        zoom: 70%;
    }
}












/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


body {
    /* font-family: 'Cinzel', serif; */
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 200;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 2px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#albuns {
    cursor: pointer;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #FFF;
    color: #000;
    transition: all 0.3s;
    border-radius: 10px !important;
    overflow-y: auto;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #FFF;
    border-radius: 10px;
}

#sidebar ul.components li a {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    align-items: center;
    padding: 10px 16px 10px 22px;
}

#sidebar ul.components li a i.fa-ban {
    color: #dfdfdf;
}

#sidebar ul p {
    color: #CCC;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000;
    background: #e7e8ed;
}

/* Menu */

#sidebar ul li a.album-taylor-swift:hover {
    color: #FFF;
    background: var(--color-taylor-swift);
}

#sidebar ul li a.album-fearless:hover {
    color: #FFF;
    background: var(--color-fearless);
}

#sidebar ul li a.album-speak-now:hover {
    color: #FFF;
    background: var(--color-speak-now);
}

#sidebar ul li a.album-red:hover {
    color: #FFF;
    background: var(--color-red);
}

#sidebar ul li a.album-1989:hover {
    color: #FFF;
    background: var(--color-1989);
}

#sidebar ul li a.album-reputation:hover {
    color: #FFF;
    background: var(--color-reputation);
}

#sidebar ul li a.album-lover:hover {
    color: #FFF;
    background: var(--color-lover);
}

#sidebar ul li a.album-folklore:hover {
    color: #FFF;
    background: var(--color-folklore);
}

#sidebar ul li a.album-evermore:hover {
    color: #FFF;
    background: var(--color-evermore);
}

#sidebar ul li a.album-midnights:hover {
    color: #FFF;
    background: var(--linear-gradient-midnights);
}

/* Sub-menu style */

.collapsing {
    height: 0;
    overflow: hidden;
    transition: none;
}

.list-unstyled a {
    cursor: pointer;
}

#album-taylor-swift-list-unstyled a {
    font-family: var(--font-taylor);
    color: var(--color-taylor-swift);
}

#album-fearless-list-unstyled a {
    font-family: var(--font-fearless);
    color: var(--color-fearless);
}

#album-speak-now-list-unstyled a {
    font-family: var(--font-taylor);
    color: var(--color-speak-now);
}

#album-red-list-unstyled a {
    font-family: var(--font-red);
    color: var(--color-red);
}

#album-1989-list-unstyled a {
    font-family: var(--font-taylor);
    color: var(--color-1989);
}

#album-reputation-list-unstyled a {
    font-family: var(--font-taylor);
    color: var(--color-reputation);
}

#album-lover-list-unstyled a {
    font-family: var(--font-lover);
    color: var(--color-lover);
}

#album-folklore-list-unstyled a {
    font-family: var(--font-folklore);
    color: var(--color-folklore);
}

#album-evermore-list-unstyled a {
    font-family: var(--font-evermore);
    color: var(--color-evermore);
}

#album-midnights-list-unstyled a {
    font-family: var(--font-midnights);
    color: var(--color-midnights);
}

/* end */

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000;
    background: #e7e8ed;
}

a.album-taylor-swift[aria-expanded="true"] {
    color: #FFF;
    background: var(--color-taylor-swift);
}

a.album-fearless[aria-expanded="true"] {
    color: #FFF;
    background: var(--color-fearless);
}

a.album-speak-now[aria-expanded="true"] {
    color: #FFF;
    background: var(--color-speak-now);
}

a.album-red[aria-expanded="true"] {
    color: #FFF;
    background: var(--color-red);
}

a.album-1989[aria-expanded="true"] {
    color: #FFF;
    background: var(--color-1989);
}

a.album-reputation[aria-expanded="true"] {
    color: #FFF;
    background: var(--color-reputation);
}

a.album-lover[aria-expanded="true"] {
    color: #FFF;
    background: var(--color-lover);
}

a.album-folklore[aria-expanded="true"] {
    color: #FFF;
    background: var(--color-folklore);
}

a.album-evermore[aria-expanded="true"] {
    color: #FFF;
    background: var(--color-evermore);
}

a.album-midnights[aria-expanded="true"] {
    color: #FFF;
    background: var(--linear-gradient-midnights);
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #FFF;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs {
    text-align: center;
    font-size: 0.8em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #CCC;
}

a.article,
a.article:hover {
    background: #e7e8ed !important;
    color: #000 !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/* #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
} */

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 768px) {
    #sidebar #albuns .hide {
        display: none;
    }

    #sidebar #albuns .title {
        display: block;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }

    #sidebar #albuns .hide {
        display: block;
    }

    #sidebar #albuns .title {
        display: none;
    }
}
