<div id="author">
    <h4 class="title color-red my-3">It's me, hi...</h4>

    <p>Hello! My name is Raul and I'm a huge fan of the talented Taylor Swift. I created this website, <b>Taylor's Songbook</b>, as a way to share my passion for her music with other fans and enthusiasts. Here you will find chords, tutorials, and plenty of information about Taylor's amazing songs. This project is a way for me to express my admiration and contribute to the fan community.</p>

    <p>Feel free to explore the site and enjoy all the available content. If you have any suggestions, requests, or simply want to share your experience, I would be happy to receive your feedback. You can also find me on social media, where I share more Taylor Swift-related content and immerse myself in the world of music.</p>
    
    <p>Join me on social media to stay up to date with the latest updates and interact with fellow fans. You can find me on 
        <i class="bi bi-whatsapp"></i> <a href="https://chat.whatsapp.com/BS4Vx1FpM0TFf95iPfGylP" class="whatsapp" target="_blank">WhatsApp</a>, 
        <i class="bi bi-instagram"></i> <a href="https://www.instagram.com/raulmoraes__/" class="instagram" target="_blank">Instagram</a> and 
        <i class="bi bi-github"></i> <a href="https://github.com/rauldosS" class="github" target="_blank">GitHub</a>.
    </p>
    
    <p>I hope you enjoy your stay at <b>Taylor's Songbook</b> and find everything you're looking for about Taylor Swift. This project is made with love and dedication from one fan to another. Thank you for being a part of this community and for supporting my work!</p>
    
    <p>Welcome and have fun exploring the musical world of Taylor Swift!</p>

    <h4 class="title color-red my-3">What's Coming Soon!</h4>

    <p>
        Soon, we will be launching exciting new features to make your experience on our site even better! Additionally, we will be expanding our catalog of chords and including songs from other albums by Taylor Swift.
    </p>

    <div class="list-group">
        <a class="list-group-item list-group-item-action">⭐ Regular updates to the chords catalog with songs from other albums.</a>
        <a class="list-group-item list-group-item-action">🎤 Complete lyrics for all albums by Taylor Swift.</a>
        <a class="list-group-item list-group-item-action">🔎 Chords and albums search feature.</a>
        <a class="list-group-item list-group-item-action">👀 Recently viewed chords.</a>
        <a class="list-group-item list-group-item-action">🖨 Chord printing.</a>
        <a class="list-group-item list-group-item-action">🎸 Acoustic versions and covers of popular songs by Taylor Swift.</a>
        <a class="list-group-item list-group-item-action">🎼 Key transposition feature.</a>
        <a class="list-group-item list-group-item-action">⚙ Basic chord settings section.</a>
        <a class="list-group-item list-group-item-action">💿 Personalized playlists with thematic selections of Taylor Swift's songs.</a>
        <a class="list-group-item list-group-item-action">🔠 Translations of songs in different languages to reach a wider audience.</a>
        <a class="list-group-item list-group-item-action">💁🏼‍♀️ Partnerships and collaborations with other musicians, influencers, or even Taylor Swift herself to create exclusive content and further promote the site.</a>
    </div>
</div>
