<h1 class="font-taylor-swift-base text-center mt-4 title-home my-5">Help</h1>

<p class="text-center">Welcome to the Help page! Discover the customization features available in Taylor's Songbook. Enhance your music experience with options to display chords, adjust font size, split chords into columns, or view lyrics only. Explore our intuitive interface designed to give you the best playing experience. Join us on this harmonious journey of music and inspiration!</p>

<div class="">
    <h6  class="font-taylor-swift-base fs-5 fw-bold caption-home"> ✏️ Customization Bar</h6>

    <img src="/public_html/assets/images/help/customization-bar.webp" class="img-thumbnail mx-auto d-block mb-3" alt="...">

    <p>
        The <strong class="color-midnights">Customization Bar</strong> is a section at the bottom of the chord page that offers various options to personalize the user experience. 
        It allows you to adjust the font size, display chords, and access other features to make the chord view more suitable for each user's preferences.
    </p>

    <div class="accordion" id="accordionCustomizationBar">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBChords">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBChords" aria-expanded="false" aria-controls="collapseCBChords">
                    🎸 Show Chords
                </button>
            </h2>
            <div id="collapseCBChords" class="accordion-collapse collapse" aria-labelledby="headingCBChords" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    The <strong class="color-midnights">CHORDS</strong> shortcut allows you to quickly and conveniently view the chords of the songs. The chords will accompany you throughout the chord page.
                    <img src="/public_html/assets/images/help/chords.webp" class="img-thumbnail mx-auto d-block mt-3" alt="...">
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBColumns">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBColumns" aria-expanded="false" aria-controls="collapseCBColumns">
                    📖 Columns
                </button>
            </h2>
            <div id="collapseCBColumns" class="accordion-collapse collapse" aria-labelledby="headingCBColumns" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    The <strong class="color-midnights">COLUMNS</strong> shortcut is a feature that allows users to view the chord of the song in column format. 
                    Enjoy a more compact and organized presentation of the chord, making the experience of playing the song even more enjoyable and intuitive. The control of the number of columns is in your hands!
                    <img src="/public_html/assets/images/help/columns.webp" class="img-thumbnail mx-auto d-block mt-3" alt="...">
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBFullScreen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBFullScreen" aria-expanded="false" aria-controls="collapseCBFullScreen">
                    🍿 Full Screen
                </button>
            </h2>
            <div id="collapseCBFullScreen" class="accordion-collapse collapse" aria-labelledby="headingCBFullScreen" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    The <strong class="color-midnights"><i class="bi bi-fullscreen"></i> </strong> shortcut allows you to enlarge the chord view to occupy the entire screen of the device used, whether it's a computer, tablet, or smartphone.
                    <img src="/public_html/assets/images/help/full-screen.webp" class="img-thumbnail mx-auto d-block mt-3" alt="...">
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBFont">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBFont" aria-expanded="false" aria-controls="collapseCBFont">
                    🔠 Change Font Size
                </button>
            </h2>
            <div id="collapseCBFont" class="accordion-collapse collapse" aria-labelledby="headingCBFont" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    The <strong class="color-midnights">FONT</strong> shortcut allows users to adjust the text size of the chords according to their preferences. You can increase or decrease the font size to make the chord view more comfortable and suitable for your personal taste.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBOnlyLyrics">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBOnlyLyrics" aria-expanded="false" aria-controls="collapseCBOnlyLyrics">
                    🎤 Display Only Lyrics
                </button>
            </h2>
            <div id="collapseCBOnlyLyrics" class="accordion-collapse collapse" aria-labelledby="headingCBOnlyLyrics" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    The <strong class="color-midnights">🎤 Only Lyrics</strong> shortcut hides the chords of the chord, showing only the lyrics of the song to facilitate reading and accompanying the lyrics while playing.
                    <img src="/public_html/assets/images/help/only-lyrics.webp" class="img-thumbnail mx-auto d-block mt-3" alt="...">
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBUnpin">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBUnpin" aria-expanded="false" aria-controls="collapseCBUnpin">
                    📌 Unpin Customization Bar
                </button>
            </h2>
            <div id="collapseCBUnpin" class="accordion-collapse collapse" aria-labelledby="headingCBUnpin" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    The <strong class="color-midnights">📌 Unpin </strong> shortcut allows the customization bar to be detached and moved to the bottom of the chord, making the page cleaner. 
                    In addition, you can fix it back in its original position, just click on the pin icon. This provides more flexibility and customization in the view of the chords, allowing you to adjust it according to your preferences.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBHideMiniplayer">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBHideMiniplayer" aria-expanded="false" aria-controls="collapseCBHideMiniplayer">
                    <i class="bi bi-youtube color-youtube me-2"></i> Hide Miniplayer
                </button>
            </h2>
            <div id="collapseCBHideMiniplayer" class="accordion-collapse collapse" aria-labelledby="headingCBHideMiniplayer" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    The <strong class="color-youtube"><i class="bi bi-youtube"></i> Hide Miniplayer </strong> shortcut hides the small video player that usually appears in the bottom right corner of the screen while you navigate the site.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCBShare">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCBShare" aria-expanded="false" aria-controls="collapseCBShare">
                    🔗 Share Chord
                </button>
            </h2>
            <div id="collapseCBShare" class="accordion-collapse collapse" aria-labelledby="headingCBShare" data-bs-parent="#accordionCustomizationBar">
                <div class="accordion-body">
                    The <strong class="color-midnights">🔗 Share Chord </strong> shortcut allows you to share the chord of the song with other people through links copied to your clipboard on your social networks.
                </div>
            </div>
        </div>
    </div>
</div>
